<!-- ----------- -->
<!-- SCHEMA PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">SCHEMAS</h1>    
  </div>
  <div class="panel-body">

    <!-- SCHEMA LIST -->
    <div class="list-group col-sm-6">
      <a *ngFor="let spa of schemas"
        class="list-group-item"
        [class.active]="selectedSchema && spa.id === selectedSchema.id" 
        (click)="onSelectSchema(spa)"
        >
        <h4 class="list-group-item-heading">{{spa.name}}</h4>
      </a>
      <a 
        class="list-group-item"
        [class.active]="selectedSchema && selectedSchema.id === ''" 
        (click)="onSelectSchema(null)"
        >
        <h4 class="list-group-item-heading">[ADD NEW SCHEMA]</h4>
      </a>
    </div>

    <!-- SCHEMA PROPERTIES -->
    <div class="col-sm-6">

    <form *ngIf="selectedSchema" (ngSubmit)="onSchemaSubmit()" #schemaForm="ngForm">

      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" [(ngModel)]="selectedSchema.id" ngControl="id" #id="ngForm" placeholder="id" readonly />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="selectedSchema.name" ngControl="name" #name="ngForm" placeholder="name" required />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-warning" (click)="onSchemaDelete()" [disabled]="!selectedSchema.id">Delete</button>
        <button type="submit" class="btn btn-success" [disabled]="!schemaForm.form.valid">Save</button>
      </div>

    </form>

    <form (ngSubmit)="onUploadClick()" #readForm="ngForm">

    <div class="form-group">
      <label for="file-upload">Select asset:</label>
      <input type="file" (change)="fileChangeEvent2($event)" placeholder="Upload file..." class="form-control" id="file-upload"/>
    </div>
    <button type="submit" class="btn btn-success pull-right" [disabled]="!fileToUpload">Upload</button>
    </form>

  <!-- [(ngModel)] doesn’t work.  In the current version of Angular 2, it doesn’t map correctly which is why I had to cheat with the change event. -->
  <!--
  <input type="file" (change)="fileChangeEvent2($event)" placeholder="Upload file..." />
  <button type="button" class="btn btn-success" [disabled]="!fileToUpload" (click)="onUploadClick()">Upload</button>
  -->

  <!--
  <label for="file">Select a File to Upload</label>

  <input type="file" id="msds" name="msds" ng-model="msds" />
  <input type="file" ng-model-instant id="file" multiple onchange="angular.element(this).scope().setFiles(this)" />
  <button ng-click="uploadFile()">Upload</button>
  -->

    </div>

  </div>
</div>



<!-- ----------- -->
<!-- TABLE PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">TABLES</h1>    
  </div>
  <div class="panel-body">

    <!-- TABLE LIST -->
    <div class="list-group col-sm-6">
      <a *ngFor="let tab of nonprimitiveTables()"
        class="list-group-item"
        [class.active]="selectedTable && tab.id === selectedTable.id" 
        (click)="onSelectTable(tab)"
        >
        <h4 class="list-group-item-heading">{{tab.name}}</h4>
      </a>
      <a 
        class="list-group-item"
        [class.active]="selectedSchema && selectedSchema.id.length != 0 && selectedTable && selectedTable.id === ''" 
        (click)="onSelectTable(undefined)"
        >
        <h4 class="list-group-item-heading">[ADD NEW TABLE]</h4>
      </a>
    </div>

    <!-- TABLE PROPERTIES -->
    <div class="col-sm-6">
    <form *ngIf="selectedTable" (ngSubmit)="onTableSubmit()" #tableForm="ngForm">

      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" [(ngModel)]="selectedTable.id" ngControl="id" #id="ngForm" placeholder="id" readonly />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="selectedTable.name" ngControl="name" #name="ngForm" placeholder="name" required />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-warning" (click)="onTableDelete()" [disabled]="!selectedTable.id">Delete</button>
        <button type="submit" class="btn btn-success" [disabled]="!tableForm.form.valid">Save</button>
      </div>

    </form>
    </div>

  </div>
</div>



<!-- ------------ -->
<!-- COLUMN PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">COLUMNS</h1>    
  </div>
  <div class="panel-body">

    <!-- COLUMN LIST -->
    <div class="list-group col-sm-6" *ngIf="selectedTable">
      <a *ngFor="let col of columns"
        class="list-group-item"
        [class.active]="selectedColumn && col.id === selectedColumn.id" 
        (click)="onSelectColumn(col)"
        >
        <span class="badge">{{col.output.table.name}}</span>
        <h4 class="list-group-item-heading">{{col.name}}</h4>
        <!-- <p class="list-group-item-text">Type: {{col.output.table.name}}</p> -->
      </a>
      <a 
        class="list-group-item"
        [class.active]="selectedTable && selectedTable.id.length != 0 && selectedColumn && selectedColumn.id === ''" 
        (click)="onSelectColumn(undefined)"
        >
        <h4 class="list-group-item-heading">[ADD NEW COLUMN]</h4>
      </a>
    </div>

    <!-- COLUMN PROPERTIES -->
    <div class="col-sm-6">
    <form *ngIf="selectedColumn" (ngSubmit)="onColumnSubmit()" #columnForm="ngForm">

      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" [(ngModel)]="selectedColumn.id" ngControl="id" #id="ngForm" placeholder="id" readonly />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="selectedColumn.name" ngControl="name" #name="ngForm" placeholder="name" required />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="type">Choose type</label>
        <select class="form-control" [(ngModel)]="selectedColumn.output.id" required>
          <option *ngFor="let tab of primitiveTables()" [ngValue]="tab.id">{{tab.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="descriptor">Descriptor</label>
        <input type="text" class="form-control" [(ngModel)]="selectedColumn.descriptor" ngControl="descriptor" #descriptor="ngForm" placeholder="descriptor" />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Descriptor has to be a valid JSON string
        </div>
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-warning" (click)="onColumnDelete()" [disabled]="!selectedColumn.id">Delete</button>
        <button type="submit" class="btn btn-success" [disabled]="!columnForm.form.valid">Save</button>
      </div>

    </form>
    </div>

  </div>

</div>



<!-- ------------ -->
<!-- DATA PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">DATA</h1>    
  </div>
  <div class="panel-body">

  <div class="col-sm-6">
  <form (ngSubmit)="onReadSubmit()" #readForm="ngForm">

  <div class="form-group">
    <label for="read">Read JSON from table:</label>
    <textarea [(ngModel)]="readJson" ngControl="readJson" placeholder="readJson" readonly class="form-control" rows="5" id="readJson"></textarea>
  </div>

  <button type="submit" class="btn btn-success pull-right" [disabled]="!selectedTable">Read</button>

  </form>
  </div>

  <div class="col-sm-6">
  <form (ngSubmit)="onWriteSubmit()" #writeForm="ngForm">

  <div class="form-group">
    <label for="write">Write JSON to table:</label>
    <textarea [(ngModel)]="writeJson" ngControl="writeJson" placeholder="writeJson" required class="form-control" rows="5" id="writeJson"></textarea>
  </div>

  <button type="submit" class="btn btn-success pull-right" [disabled]="!writeForm.form.valid || !selectedTable">Write</button>

  </form>
  </div>

</div>
