<div class="card" style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">

<div class="card">
  <div class="card-header">
    <h5 class="card-title text-xs-center"><b>WHAT IS DATA COMMANDR</b></h5>
  </div>
  <div class="card-block">
    <p>
      <span class="dc">Data Commandr</span> is a tool for data integration, transformation, analysis as well as other data manipulation and data wrangling tasks.
    </p>
    <p>
      <span class="dc">Data Commandr</span> was created with a single mission: radically simplify and democratize all kinds of operations with data for non-IT users.
    </p>
    <p>
      <span class="dc">Data Commandr</span> employs the familiar spreadsheet approach but instead of cell-formulas it uses <em>column-formulas</em> by avoiding set-oriented operations like join or group-by.
      Therefore, <span class="dc">Data Commandr</span> can be viewed as an "Excel for Big Data" or "Big Data Calculator".
    </p>
    <!--
    span class="dc">Data Commandr</span> is aimed at creating new <em>data mash-ups</em> in seconds by integrating numerous heterogeneous data sources. It revolutionizes the way data integration is done by combining data transformation and analysis.
    --> 

    <!--
    <div class="row featurette">
      <div class="col-lg-4">
        <h3>Self-service and user-driven</h3>
        <p>No experience in mathematics or statistics is needed. Assistance engine and automatic recommendations at all stages based on data semantics, automatically discovered relationships, user behavior analysis and the current context.</p>
      </div>
      <div class="col-lg-4">
        <h3>Agile and ad-hoc</h3>
        <p>Play with data in an agile manner by changing transformation and computation options. Define arbitrary custom transformations and computations without predefined scenarios by using an easy to use but powerful analytical expression language.</p>
      </div>
      <div class="col-lg-4">
        <h3>Real time and responsive</h3>
        <p>Instant reaction even for large data sets thanks to a novel column-oriented in-memory data processing engine.</p>
      </div>
    </div>
    -->
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h5 class="card-title text-xs-center"><b>HOW DATA COMMANDR WORKS (USP)</b></h5> <!-- AND COMPETITIVE ADVANTAGES (USP) -->
  </div>
  <div class="card-block">
    <p>
      <span class="dc">Data Commandr</span> is based on a novel technology for data management and analytics collectively referred to as <em>concept-orientation</em>.  
      It was developed by <a href="http://conceptoriented.org/savinov">Dr. Alexandr Savinov</a> and published in more than 20 academic papers: <a href="http://conceptoriented.org">http://conceptoriented.org</a>.
    </p>
    <p>
      <span class="dc">Data Commandr</span> gets rid of set-oriented operations which are know to be difficult to understand and use especially for non-IT users. 
      Instead, it employs the spreadsheet (functional) approach where data elements are defined in terms of other data elements. 
      Yet, in contrast to classical cell-oriented spreadsheet applications, <span class="dc">Data Commandr</span> is a column-oriented approach where the user works with columns rather than cells. 
      In other words, the user defines new data columns in terms of the existing data columns by producing a graph of column operations as opposed to a graph of cell operations or a graph of set operations. 
      In this sense, <span class="dc">Data Commandr</span> could be characterized as Excel for <em>column-based</em> analytical data integration and transformation.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h5 class="card-title text-xs-center"><b>FOR WHOM DATA COMMANDR IS USEFUL (Customers)</b></h5>
  </div>
  <div class="card-block">
    <p>
      <span class="dc">Data Commandr</span> is intended for a broad range of <em>non-IT users</em> starting from data enthusiasts, casual users or business users, and ending with data artisans and analysts. 
      All these users do not possess deep knowledge in mathematics and statistics but need some simple yet powerful tool to solve a problem or answer a question by analyzing available data. 
    </p>
<!--
      The buyers of the product are companies which want to reduce their IT costs by getting analytical tools suitable for business users.
-->
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h5 class="card-title text-xs-center"><b>WHAT PROBLEMS DATA COMMANDR SOLVES (Pains and Gains)</b></h5>
  </div>
  <div class="card-block">
    <p>
      Data integration, transformation and other data wrangling tasks account for a great deal or even most of the difficulties in <em>data analysis</em> and constitute the most tedious part of the overall analysis process.
      These problems are normally solved by experts by means of classical BI or scripting tools. This traditional approach is not only expensive and slow but also error-prone because frequently IT experts do not understand the needs of domain-experts.
      Also, data wrangling problems could be solved by using spreadsheet applications which however have significant limitations and are also difficult to use in the case of multi-table analysis. 
      <!-- A typical problem for businesses is that there exist many corporate and external <em>data sources</em> but none of them has data the user needs. 
      This problem is getting even more acute with the explosion of data <em>volume</em> and the <em>variety</em> of data sources - the Big Data problem. --> 
    </p>
    <p>
      By making data manipulations easier for non-IT users, <span class="dc">Data Commandr</span> dramatically shortens the total time for data integration, transformation and analysis.
    </p>
    <ul>
      <li><b>Ease of use:</b>
      <span class="dc">Data Commandr</span> makes complex analytical data integration possible for non-IT users.
      </li>
      <li><b>Fast time-to-value:</b>
      <span class="dc">Data Commandr</span> dramatically shortens the total time for data integration, transformation and analysis from months to minutes.
      </li>
      <li><b>Lower TCO:</b>
      <span class="dc">Data Commandr</span> transfers the burden of authoring BI contents to the end users who know much better what needs to be done.
      </li>
    </ul>

  </div>
</div>

<div class="card">
  <div class="card-header">
    <h5 class="card-title text-xs-center"><b>VERSION HISTORY</b></h5>
  </div>
  <div class="card-block">
    <p><b>Version 0.3.0 (xx.12.2016)</b> 
    Up-to-date status for columns.
    </p>
    <p><b>Version 0.2.0 (10.12.2016)</b> 
    This version has all three types of columns: calculated (for primitive data types), accumulation (for aggregated columns) and tuple columns (for complex data types).
    The design has been completely reworked. 
    </p>
    <p><b>Version 0.1.0 (04.09.2016)</b> 
    It is the first version developed as a web application rather than a Windows application. 
    This version relies on a completely new implementation of the data processing backend (Data Commandr Engine).
    </p>
  </div>
</div>

</div>
