<div class="panel-group" style="margin-left: 10px; margin-right: 10px;">

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>DATA COMMANDR: INTEGRATE. TRANSFORM. ANALYZE.</b></h1>
  </div>
  <div class="panel-body">

    <h5>
      <span class="dc">Data Commandr</span> is a self-service tool for mass market. 
      It is intended for a broad range of <em>non-IT users</em> starting from data enthusiasts, casual users or business users, and ending with data artisans and analysts. 
      All these users do not possess deep knowledge in mathematics and statistics but need some simple yet powerful tool to solve a problem or answer a question by analyzing available data. 
      The buyers of the product are companies which want to reduce their IT costs by getting analytical tools suitable for business users.
    </h5>

  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>VERSION</b></h1>
  </div>
  <div class="panel-body">
    <h5>
      Version 0.1, 2016-09-04
    </h5>
    <p>It is the first version developed as a web application rather than a Windows application. 
    This version relies on a completely new implementation of the data processing backend (Data Commandr Engine).
    </p>
  </div>
</div>

</div>
