<!--
Determine when and where an element is shown/hidden

hidden-*-up
hidden-*-down
hidden-xs 

visible-*

float-*-right
-->

<nav class="navbar navbar-toggleable-md navbar-light navbar-static-top bg-faded">

  <a class="navbar-brand" href="#" (click)="activeComponent = 'dc-edit'">
      <img class="logo-header" src="img/dc-logo.png" alt="Data Commandr">
  </a>
  <a class="navbar-brand" href="#" (click)="activeComponent = 'dc-edit'">
      <img class="logo-header" src="img/dc-logo-header3.png" alt="Data Commandr">
  </a>

<div id="navbar" class="collapse navbar-collapse" [collapse]="isCollapsed">

  <ul class="nav navbar-nav">
    <li class="nav-item" [class.active]="activeComponent == 'dc-edit'">
      <a class="nav-link" href="#" (click)="activeComponent = 'dc-edit'"><b>EDIT</b></a>
    </li>
    <!--
    <li class="nav-item" [class.active]="activeComponent == 'dc-sim'">
      <a class="nav-link" href="#" (click)="activeComponent = 'dc-sim'"><b>STREAM SIMULATOR</b></a>
    </li>
    -->
    <li class="nav-item" [class.active]="activeComponent == 'dc-help'">
      <a class="nav-link" href="#" (click)="activeComponent = 'dc-help'"><b>HELP</b></a>
    </li>
    <li class="nav-item" [class.active]="activeComponent == 'dc-about'">
      <a class="nav-link" href="#" (click)="activeComponent = 'dc-about'"><b>ABOUT</b></a>
    </li>
    <li class="nav-item float-xs-right" >
      <p class="nav-link">Version {{version}} ({{versionDate}})</p>
    </li>
  </ul>

</div>

</nav>

<dc-edit [hidden]="activeComponent != 'dc-edit'"></dc-edit>
<dc-sim [hidden]="activeComponent != 'dc-sim'"></dc-sim>
<dc-help [hidden]="activeComponent != 'dc-help'"></dc-help>
<dc-about [hidden]="activeComponent != 'dc-about'"></dc-about>
<!--
<router-outlet></router-outlet>
-->
