<nav class="navbar navbar-light navbar-static-top bg-faded" role="navigation">

  <a class="navbar-brand" href="#" (click)="activeComponent = 'dc-main'">
      <img class="logo-header" src="img/dc-logo.png" alt="Data Commandr">
  </a>
  <a class="navbar-brand" href="#" (click)="activeComponent = 'dc-main'">
      <img class="logo-header" src="img/dc-logo-header3.png" alt="Data Commandr">
  </a>

  <ul class="nav navbar-nav">
    <li class="nav-item" [class.active]="activeComponent == 'dc-main'">
      <a class="nav-link" href="#" (click)="activeComponent = 'dc-main'"><b>APPLICATION</b></a>
    </li>
    <li class="nav-item" [class.active]="activeComponent == 'dc-help'">
      <a class="nav-link" href="#" (click)="activeComponent = 'dc-help'"><b>HELP</b></a>
    </li>
    <li class="nav-item" [class.active]="activeComponent == 'dc-info'">
      <a class="nav-link" href="#" (click)="activeComponent = 'dc-info'"><b>MORE INFO</b></a>
    </li>
    <li class="nav-item" [class.active]="activeComponent == 'dc-about'">
      <a class="nav-link" href="#" (click)="activeComponent = 'dc-about'"><b>ABOUT</b></a>
    </li>
  </ul>

</nav>

<dc-main [hidden]="activeComponent != 'dc-main'"></dc-main>
<dc-help [hidden]="activeComponent != 'dc-help'"></dc-help>
<dc-info [hidden]="activeComponent != 'dc-info'"></dc-info>
<dc-about [hidden]="activeComponent != 'dc-about'"></dc-about>
<!--
<router-outlet></router-outlet>
-->

<!-- OLD - bootstrap 3 
<nav class="navbar navbar-default "></nav> 

<div class="navbar navbar-fixed-top navbar-default" role="navigation">
<div class="navbar-inner">
<div class="container">

<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="brand" (click)="activeComponent = 'dc'">
    <img class="logo-header" src="img/dc-logo.png" alt="Data Commandr">
    <img class="logo-header" src="img/dc-logo-header3.png" alt="Data Commandr">
  </a>
</div>

<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">

    <li [class.active]="activeComponent == 'dc'"><a (click)="activeComponent = 'dc'"><b>APPLICATION</b></a></li>
    <li [class.active]="activeComponent == 'help'"><a (click)="activeComponent = 'help'"><b>HELP</b></a></li>
    <li [class.active]="activeComponent == 'info'"><a (click)="activeComponent = 'info'"><b>MORE INFO</b></a></li>
    <li [class.active]="activeComponent == 'about'"><a (click)="activeComponent = 'about'"><b>ABOUT</b></a></li>

  </ul>
</div>
		
</div>
</div>
</div>
-->
