<div class="card" style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">

<!-- NOTE: The use of ngIf along with bsModal raises the exception: "Cannot set property stack of [object Object] which has only a getter" -->
<!-- NOTE: We could try to use ngIf to hide/show modal -->
<!-- NOTE: We cannot show/hide dialog from code - only from html -->

<!-- 
  <div class="card-group"> stretches to have full width and ignore card max-width
  [ngModel]="hero && hero.name" DONE
  <div class="invisible">...</div>
-->


<!-- TEST: how to use list-group-item and a -->
<!--
<div class="card">
  <div class="card-header">
    <h4 class="card-title text-xs-center"><b>TEST</b></h4>
  </div>
  <div class="card">


<div class="card dc-horizontal-list">
<ul class="list-inline">

<a class="list-inline-item">
<div class="card dc-horizontal-list-item">
  <div class="card-header">Card 1 Header</div>
  <div class="card-block">
    <h4 class="card-title">Card title that wraps to a new line asdfasdf asdfasdfas adsfasdf</h4>
    <p class="card-text">Description with text Description with text Description with text Description with text .</p>
  </div>
</div>
</a>

<a class="list-inline-item">
<div class="card dc-horizontal-list-item dc-list-item-active">
  <div class="card-header">Card 1 Header</div>
  <div class="card-block">
    <h4 class="card-title">Title</h4>
    <p class="card-text">Description with text.</p>
  </div>
</div>
</a>

<a class="list-inline-item">
<div class="card dc-horizontal-list-item">
  <div class="card-header">Card 3 Header</div>
  <div class="card-block">
    <h4 class="card-title">Title</h4>
    <p class="card-text">Description with text.</p>
  </div>
</div>
</a>

</ul>
</div>

  </div>
  <div class="card-footer text-xs-center">
      <div class="card-title">FOOTER</div>
  </div>
</div>
-->





<!-- OLD, TO DELETE
  <div class="card-block">
    <div *ngIf="selectedAccount" class="list-group">

      <a *ngFor="let spa of schemas"
        class="list-group-item"
        [class.active]="selectedSchema && spa.id === selectedSchema.id" 
        (click)="onSelectSchema(spa)"
        >
        <h4 class="list-group-item-heading">{{spa.name}}</h4>
        <div *ngIf="selectedSchema && spa.id === selectedSchema.id" class="text-xs-right">
          <button type="button" class="btn btn-warning" [disabled]="!(selectedSchema && selectedSchema.id)" (click)="onSchemaDelete()" ><i class="fa fa-trash"></i> Delete Schema...</button>
          <button type="button" class="btn btn-success" [disabled]="!(selectedSchema && selectedSchema.id)" (click)="schemaModal.show()"><i class="fa fa-edit"></i> Edit Schema...</button>
        </div>
      </a>
      <a 
        class="list-group-item"
        [class.active]="selectedSchema && selectedSchema.id === ''" 
        (click)="onSelectSchema(null)"
        >
        <h4 class="list-group-item-heading">[ADD NEW SCHEMA]</h4>
        <div *ngIf="selectedSchema && selectedSchema.id.length === 0" class="text-xs-right">
          <button type="button" class="btn btn-success" [disabled]="!(selectedSchema && selectedSchema.id.length === 0)" (click)="schemaModal.show()"><i class="fa fa-plus"></i> New Schema...</button>
        </div>
      </a>

    </div>
  </div>
-->

    <!-- SCHEMA PROPERTIES -->
<!-- OLD, TO DELETE
    <div class="col-sm-6">
    <form *ngIf="selectedSchema" (ngSubmit)="onSchemaSubmit()" #schemaForm="ngForm">

      <div class="form-group">
        <label for="id">Id</label>
        <input id="id" name="id" ngControl="id" type="text" class="form-control" [(ngModel)]="selectedSchema && selectedSchema.id" readonly placeholder="Schema identifier"/>
      </div>

      <div class="form-group">
        <label for="name">Name</label> <i tooltip="Unique name of the schema" tooltipPlacement="right" class="fa fa-info-circle"></i>
        <input id="name" name="name" ngControl="name" type="text" class="form-control" [(ngModel)]="selectedSchema && selectedSchema.name" required placeholder="Schema name"/>
      </div>

      <div class="text-xs-right">
        <button type="button" class="btn btn-warning" (click)="onSchemaDelete()" [disabled]="!selectedSchema.id"><i class="fa fa-trash"></i> Delete</button>
        <button type="submit" class="btn btn-success" [disabled]="!schemaForm.form.valid"><i class="fa fa-check"></i> Save</button>
      </div>

    </form>

    <form *ngIf="selectedSchema" (ngSubmit)="onUploadClick()" #readForm="ngForm">

    <div class="form-group">
      <label for="file-upload">Select asset</label>
      <input id="file-upload" name="file-upload" type="file" class="form-control" (change)="fileChangeEvent2($event)" placeholder="Upload file..." />
    </div>
    <button type="submit" class="btn btn-success pull-xs-right" [disabled]="!fileToUpload"><i class="fa fa-cloud-upload"></i> Upload</button>

    </form>
    </div>
-->




<!-- ----------- -->
<!-- SCHEMA LIST -->
<div class="card">

  <div class="card-header">
    <h4 class="card-title">
      <b>SCHEMAS</b>
      <button type="button" class="btn btn-warning pull-right" [disabled]="!(selectedSchema && selectedSchema.id)" (click)="onSchemaDelete()" ><i class="fa fa-trash"></i> Delete Schema...</button>
      <span class="pull-right">&nbsp;</span>
      <button type="button" class="btn btn-success pull-right" [disabled]="!(selectedSchema && selectedSchema.id)" (click)="schemaModal.show()"><i class="fa fa-edit"></i> Edit Schema...</button>
      <span class="pull-right">&nbsp;</span>
      <button type="button" class="btn btn-success pull-right" [disabled]="!(selectedSchema && selectedSchema.id.length === 0)" (click)="schemaModal.show()"><i class="fa fa-plus"></i> New Schema...</button>
    </h4>
  </div>

  <div class="card dc-horizontal-list">
  <ul *ngIf="selectedAccount" class="list-inline">

    <a *ngFor="let spa of schemas"
      class="list-inline-item"
      (click)="onSelectSchema(spa)"
      >
      <div [class.dc-list-item-active]="selectedSchema && spa.id === selectedSchema.id" class="card dc-horizontal-list-item">
        <div class="card-block">
          <h5 class="card-title">{{spa.name}}</h5>
        </div>
        <!--
        <div class="card-footer" [style.visibility]="selectedSchema && spa.id === selectedSchema.id ? 'inherit' : 'hidden'">
          <div class="text-xs-right">
            <button type="button" class="btn btn-warning" [disabled]="!(selectedSchema && selectedSchema.id)" (click)="onSchemaDelete()" ><i class="fa fa-trash"></i></button>
            <button type="button" class="btn btn-success" [disabled]="!(selectedSchema && selectedSchema.id)" (click)="schemaModal.show()"><i class="fa fa-edit"></i></button>
          </div>
        </div>
        -->
      </div>
    </a>
    <a
      class="list-inline-item"
      (click)="onSelectSchema(null)"
      >
      <div [class.dc-list-item-active]="selectedSchema && selectedSchema.id === ''" class="card dc-horizontal-list-item">
        <div class="card-block">
          <h5 class="card-title">[ADD]</h5>
        </div>
        <!--
        <div class="card-footer" [style.visibility]="selectedSchema && selectedSchema.id.length === 0 ? 'inherit' : 'hidden'">
          <div class="text-xs-right">
            <button type="button" class="btn btn-success" [disabled]="!(selectedSchema && selectedSchema.id.length === 0)" (click)="schemaModal.show()"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        -->
      </div>
    </a>
  </ul>
  </div>

</div>

<!-- SCHEMA DIALOG -->
<div bsModal #schemaModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Edit Schema" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="selectedSchema">
      <form (ngSubmit)="onSchemaSubmit(); schemaModal.hide();" #schemaForm="ngForm">

      <div class="modal-header">
        <button type="button" class="close" (click)="schemaModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Schema</h4>
      </div>

      <div class="modal-body">
          <div class="form-group">
            <label for="id">Id</label>
            <input id="id" name="id" ngControl="id" type="text" class="form-control" [(ngModel)]="selectedSchema && selectedSchema.id" readonly placeholder="Schema identifier"/>
          </div>
          <div class="form-group">
            <label for="name">Name</label> <i tooltip="Unique name of the schema" tooltipPlacement="right" class="fa fa-info-circle"></i>
            <input id="name" name="name" ngControl="name" type="text" class="form-control" [(ngModel)]="selectedSchema && selectedSchema.name" required placeholder="Schema name"/>
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div> -->
          </div>
      </div>

      <div class="modal-footer">
        <div class="text-xs-right">
          <button type="button" class="btn btn-default" (click)="schemaModal.hide()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-success" ><i class="fa fa-check"></i> Ok</button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>



<!-- ---------- -->
<!-- TABLE LIST -->
<div class="card">

  <div class="card-header">
    <h4 class="card-title">
      <b>TABLES</b>
      <button type="button" class="btn btn-warning pull-right" [disabled]="!(selectedTable && selectedTable.id)" (click)="onTableDelete()" ><i class="fa fa-trash"></i> Delete Table...</button>
      <span class="pull-right">&nbsp;</span>
      <button type="button" class="btn btn-success pull-right" [disabled]="!(selectedTable && selectedTable.id)" (click)="tableModal.show()"><i class="fa fa-edit"></i> Edit Table...</button>
      <span class="pull-right">&nbsp;</span>
      <button type="button" class="btn btn-success pull-right" [disabled]="!(selectedTable && selectedTable.id.length === 0)" (click)="tableModal.show()"><i class="fa fa-plus"></i> New Table...</button>
    </h4>
  </div>

  <div class="card dc-horizontal-list">
  <ul *ngIf="selectedSchema && selectedSchema.id.length > 0" class="list-inline">
    <a *ngFor="let tab of nonprimitiveTables()"
      class="list-inline-item"
      (click)="onSelectTable(tab)"
      >
      <div [class.dc-list-item-active]="selectedTable && selectedTable.id === tab.id" class="card dc-horizontal-list-item">
        <div class="card-block">
          <h5 class="card-title">{{tab.name}}</h5>
        </div>
        <!--
        <div class="card-footer" [style.visibility]="selectedTable && selectedTable.id === tab.id ? 'inherit' : 'hidden'">
          <div class="text-xs-right">
            <button type="button" class="btn btn-warning" [disabled]="!(selectedTable && selectedTable.id)" (click)="onTableDelete()" ><i class="fa fa-trash"></i></button>
            <button type="button" class="btn btn-success" [disabled]="!(selectedTable && selectedTable.id)" (click)="tableModal.show()"><i class="fa fa-edit"></i></button>
          </div>
        </div>
        -->
      </div>
    </a>
    <a
      class="list-inline-item"
      (click)="onSelectTable(null)"
      >
      <div [class.dc-list-item-active]="selectedTable && selectedTable.id.length == 0" class="card dc-horizontal-list-item">
        <div class="card-block">
          <h5 class="card-title">[ADD]</h5>
        </div>
        <!--
        <div class="card-footer" [style.visibility]="selectedTable && selectedTable.id.length === 0 ? 'inherit' : 'hidden'">
          <div class="text-xs-right">
            <button type="button" class="btn btn-success" [disabled]="!(selectedTable && selectedTable.id.length === 0)" (click)="tableModal.show()"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        -->
      </div>
    </a>
  </ul>
  </div>

</div>

<!-- TABLE DIALOG -->
<div bsModal #tableModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Edit Table" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="selectedTable">
      <form (ngSubmit)="onTableSubmit(); tableModal.hide();" #tableForm="ngForm">

      <div class="modal-header">
        <button type="button" class="close" (click)="tableModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Table</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="id">Id</label>
          <input id="id" name="id" ngControl="id" type="text" class="form-control" [(ngModel)]="selectedTable && selectedTable.id" readonly placeholder="Table identifier" />
        </div>
        <div class="form-group">
          <label for="name">Name</label> <i tooltip="Unique name of the table" tooltipPlacement="right" class="fa fa-info-circle"></i>
          <input id="name" name="name" ngControl="name" type="text" class="form-control" [(ngModel)]="selectedTable && selectedTable.name" required placeholder="Table name"/>
        </div>
        <div class="form-group">
          <label for="maxLength">Maximum length</label> <i tooltip="Maximum number of rows in the table" tooltipPlacement="right" class="fa fa-info-circle"></i>
          <input id="maxLength" name="maxLength" ngControl="maxLength" type="number" class="form-control" [(ngModel)]="selectedTable && selectedTable.maxLength" required min="-1" placeholder="Maximum length of the table (-1 for unlimited)" />
        </div>
      </div>

      <div class="modal-footer">
        <div class="text-xs-right">
          <button type="button" class="btn btn-default" (click)="tableModal.hide()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-success" ><i class="fa fa-check"></i> Ok</button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>



<!-- ----------- -->
<!-- COLUMN LIST -->
<div class="card">

  <div class="card-header">
    <h4 class="card-title">
      <b>COLUMNS</b>
      <button type="button" class="btn btn-warning pull-right" [disabled]="!(selectedColumn && selectedColumn.id)" (click)="onColumnDelete()" ><i class="fa fa-trash"></i> Delete Column...</button>
      <span class="pull-right">&nbsp;</span>
      <button type="button" class="btn btn-success pull-right" [disabled]="!(selectedColumn && selectedColumn.id)" (click)="columnModal.show()"><i class="fa fa-edit"></i> Edit Column...</button>
      <span class="pull-right">&nbsp;</span>
      <button type="button" class="btn btn-success pull-right" [disabled]="!(selectedColumn && selectedColumn.id.length === 0)" (click)="columnModal.show()"><i class="fa fa-plus"></i> New Column...</button>
    </h4>
  </div>

  <div class="card dc-horizontal-list">
  <ul *ngIf="selectedTable && selectedTable.id.length > 0" class="list-inline">
    <a *ngFor="let col of columns"
      class="list-inline-item"
      (click)="onSelectColumn(col)"
      >
      <div [class.dc-list-item-active]="selectedColumn && selectedColumn.id === col.id" class="card dc-horizontal-list-item">
        <div class="card-block">
          <h5 class="card-title">{{col.name}}</h5>
          <h6 class="card-subtitle text-muted">{{col.output.table.name}}</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-faded"><label class="list-group-item-text">{{col.formula}}</label></li>
          <li class="list-group-item bg-faded"
            [class.dc-status-red]="col.getStatusColor() == 'red'"
            [class.dc-status-yellow]="col.getStatusColor() == 'yellow'"
            [class.dc-status-green]="col.getStatusColor() == 'green'"
          >
            <label class="list-group-item-text">STATUS</label>
          </li>
        </ul>
        <!--
        <div class="card-footer" [style.visibility]="selectedColumn && selectedColumn.id === col.id ? 'inherit' : 'hidden'">
          <div class="text-xs-right">
            <button type="button" class="btn btn-warning" [disabled]="!(selectedColumn && selectedColumn.id)" (click)="onColumnDelete()" ><i class="fa fa-trash"></i></button>
            <button type="button" class="btn btn-success" [disabled]="!(selectedColumn && selectedColumn.id)" (click)="columnModal.show()"><i class="fa fa-edit"></i></button>
          </div>
        </div>
        -->
      </div>
    </a>
    <a
      class="list-inline-item"
      (click)="onSelectColumn(null)"
      >
      <div [class.dc-list-item-active]="selectedColumn && selectedColumn.id.length == 0" class="card dc-horizontal-list-item">
        <div class="card-block">
          <h5 class="card-title">[ADD]</h5>
          <h6 class="card-subtitle text-muted">&nbsp;</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-faded"><label class="list-group-item-text"></label></li>
          <li class="list-group-item bg-faded"><label class="list-group-item-text"></label></li>
        </ul>
        <!--
        <div class="card-footer" [style.visibility]="selectedColumn && selectedColumn.id.length === 0 ? 'inherit' : 'hidden'">
          <div class="text-xs-right">
            <button type="button" class="btn btn-success" [disabled]="!(selectedColumn && selectedColumn.id.length === 0)" (click)="columnModal.show()"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        -->
      </div>
    </a>
  </ul>
  </div>

  <!-- FORMULA BAR -->
  <div class="card card-outline-info">
    <form *ngIf="selectedTable && selectedTable.id.length > 0" [class.invisible]="!(selectedColumn && selectedColumn.id.length > 0)" class="form-horizontal" (ngSubmit)="onColumnSubmit()" #formulaForm="ngForm">
      <div class="input-group input-group-lg">
        <span id="formula-addon" class="input-group-addon">Formula</span>
        <input id="formula" name="formula" ngControl="formula" type="text" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.formula" placeholder="Example: [Column 1] + [Column 2]">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-success" [disabled]="!formulaForm.form.valid"><i class="fa fa-check"></i></button>
        </span>
      </div>
      <div class="card">
        <span class="alert alert-info form-text small">
          Column names in formulas are written in square brackets like <code>[My Column]</code>. 
          Formulas for primitive columns use arithmetic expressions, for example, <code>([Column 1] + [Column 2]) * 2.0</code>.
          Formulas for non-primitive columns are a semi-colon separated list of assignments enclosed in curly braces, for example, <code>{{'{'}} [Output Table A]=[This Table Column 1]; [Output Table B]=[This Table Column 2] {{'}'}}</code>. 
        </span>
      </div>
    </form>
  </div>

</div>

<!-- COLUMN DIALOG -->
<div bsModal #columnModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Edit Column" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="selectedColumn">
      <form (ngSubmit)="onColumnSubmit(); columnModal.hide();" #columnForm="ngForm">

      <div class="modal-header">
        <button type="button" class="close" (click)="columnModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Column</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="id">Id</label>
          <input id="id" name="id" ngControl="id" type="text" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.id" readonly placeholder="Column identifier" />
        </div>
        <div class="form-group">
          <label for="name">Name</label> <i tooltip="Unique name of the column" tooltipPlacement="right" class="fa fa-info-circle"></i>
          <input id="name" name="name" ngControl="name" type="text" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.name" required placeholder="Column name" />
        </div>
        <div class="form-group">
          <label for="type">Data type</label> <i tooltip="Data type of the column" tooltipPlacement="right" class="fa fa-info-circle"></i>
          <select id="type" name="type" ngControl="type" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.output && selectedColumn.output.id" required >
            <option *ngFor="let tab of tables" [disabled]="!selectedTable || !tab || (tab.id == selectedTable.id)" [ngValue]="tab.id">{{tab.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="formula">Formula</label> <i tooltip="Formula describes how values of this column are computed by using values in other columns and operations" tooltipPlacement="right" class="fa fa-info-circle"></i>
          <input id="formula" name="formula" ngControl="formula" type="text" class="form-control input-lg" [(ngModel)]="selectedColumn && selectedColumn.formula" placeholder="Example: [Column 1] + [Column 2]" />
        </div>
        <div class="form-group">
          <label for="descriptor">Descriptor</label>
          <input id="descriptor" name="descriptor" ngControl="descriptor" type="text" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.descriptor" placeholder="Column descriptor (JSON)" />
        </div>
      </div>

      <div class="modal-footer">
        <div class="text-xs-right">
          <button type="button" class="btn btn-default" (click)="columnModal.hide()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-success" ><i class="fa fa-check"></i> Ok</button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>



<!-- ---------- -->
<!-- DATA PANEL -->
<div class="card">

  <div class="card-header">
    <h4 class="card-title">
      <b>DATA</b>
      <button type="button" class="btn btn-warning pull-right" [disabled]="!(selectedTable && selectedTable.id)" (click)="onTableEmpty()" tooltip="Remove all records from the selected tables" tooltipPlacement="left"><i class="fa fa-trash"></i> Empty Table</button>
      <span class="pull-right">&nbsp;</span>
      <button type="button" class="btn btn-success pull-right" [disabled]="!(selectedTable && selectedTable.id)" (click)="onTableRead()" tooltip="Load and display data in the selected table" tooltipPlacement="left"><i class="fa fa-cloud-download"></i> Load Table</button>
      <span class="pull-right">&nbsp;</span>
      <button type="button" class="btn btn-success pull-right" [disabled]="!(selectedTable && selectedTable.id)" (click)="onTableEvaluate()" tooltip="Evaluate formulas of all columns in the selected table" tooltipPlacement="left"><i class="fa fa-refresh"></i> Evalute Table</button>
      <span class="pull-right">&nbsp;</span>
      <button type="button" class="btn btn-success pull-right" [disabled]="!(selectedTable && selectedTable.id)" (click)="uploadModal.show()" tooltip="Upload CSV data and append it to the selected table"><i class="fa fa-cloud-upload"></i> Upload Table...</button>
    </h4>
  </div>

  <div class="card" style="overflow: auto; max-height: 300px !important;">
  <table id="records" name="records" class="table table-fixed header-fixed table-sm table-striped table-bordered table-hover" >
      <thead class="thead-inverse">
        <tr>
            <th class="bg-primary"><h4>#</h4></th>
            <th *ngFor="let col of columns" class="bg-primary"><h4>{{col.name}}</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of records">
          <td>{{row['_id']}}</td>
          <td *ngFor="let col of columns">{{row[col.name]}}</td>
        </tr>
      </tbody>
  </table>
  </div>

</div>

<!-- UPLOAD DIALOG -->
<div bsModal #uploadModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Upload Table" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngIf="selectedTable">
      <form (ngSubmit)="onTableUpload(); uploadModal.hide();" #uploadForm="ngForm">

      <div class="modal-header">
        <button type="button" class="close" (click)="uploadModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Upload Table</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="uploadCsv">Write CSV to table</label> <i tooltip="The first row specifies column names and all other rows specify values for these columns" tooltipPlacement="right" class="fa fa-info-circle"></i>
          <textarea id="uploadCsv" name="uploadCsv" ngControl="uploadCsv" [(ngModel)]="uploadCsv" class="form-control" rows="5" maxlength="1024" placeholder="Table data as CSV. Copy and paste including column names in the first row." ></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <div class="text-xs-right">
          <button type="button" class="btn btn-default" (click)="uploadModal.hide()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-success" ><i class="fa fa-check"></i> Ok</button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>
