<div class="panel-group" style="margin-left: 10px; margin-right: 10px;">

<!-- ----------- -->
<!-- SCHEMA PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>SCHEMAS</b></h1>
  </div>
  <div class="panel-body">

    <!-- SCHEMA LIST -->

    <div class="col-sm-6">
    <div class="list-group" *ngIf="selectedAccount">
      <a *ngFor="let spa of schemas"
        class="list-group-item"
        [class.active]="selectedSchema && spa.id === selectedSchema.id" 
        (click)="onSelectSchema(spa)"
        >
        <h4 class="list-group-item-heading">{{spa.name}}</h4>
      </a>
      <a 
        class="list-group-item"
        [class.active]="selectedSchema && selectedSchema.id === ''" 
        (click)="onSelectSchema(null)"
        >
        <h4 class="list-group-item-heading">[ADD NEW SCHEMA]</h4>
      </a>
    </div>
    </div>

    <!-- SCHEMA PROPERTIES -->
    <div class="col-sm-6">
    <form *ngIf="selectedSchema" (ngSubmit)="onSchemaSubmit()" #schemaForm="ngForm">

      <div class="form-group">
        <label for="id">Id</label>
        <input id="id" name="id" ngControl="id" type="text" class="form-control" [(ngModel)]="selectedSchema.id" readonly placeholder="Schema identifier"/>
      </div>

      <div class="form-group">
        <label for="name">Name</label> <span tooltip="Unique name of the schema" tooltipPlacement="right" class="glyphicon glyphicon-info-sign"></span>
        <input id="name" name="name" ngControl="name" type="text" class="form-control" [(ngModel)]="selectedSchema.name" required placeholder="Schema name"/>
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div> -->
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-warning" (click)="onSchemaDelete()" [disabled]="!selectedSchema.id"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        <button type="submit" class="btn btn-success" [disabled]="!schemaForm.form.valid"><span class="glyphicon glyphicon-ok"></span> Save</button>
      </div>

    </form>

    <form *ngIf="selectedSchema" (ngSubmit)="onUploadClick()" #readForm="ngForm">

    <div class="form-group">
      <label for="file-upload">Select asset:</label>
      <input id="file-upload" name="file-upload" type="file" class="form-control" (change)="fileChangeEvent2($event)" placeholder="Upload file..." />
    </div>
    <button type="submit" class="btn btn-success pull-right" [disabled]="!fileToUpload"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</button>

    </form>
    </div>

  </div>
</div>



<!-- ----------- -->
<!-- TABLE PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>TABLES</b></h1>
  </div>
  <div class="panel-body">

    <!-- TABLE LIST -->
    <div class="col-sm-6">
    <div class="list-group" *ngIf="selectedSchema && selectedSchema.id.length != 0">
      <a class="list-group-item"
        *ngFor="let tab of nonprimitiveTables()"
        [class.active]="selectedTable && selectedTable.id === tab.id" 
        (click)="onSelectTable(tab)"
        >
        <h4 class="list-group-item-heading">{{tab.name}}</h4>
      </a>
      <a class="list-group-item"
        [class.active]="selectedTable && selectedTable.id.length == 0" 
        (click)="onSelectTable(null)"
        >
        <h4 class="list-group-item-heading">[ADD NEW TABLE]</h4>
      </a>
    </div>
    </div>

    <!-- TABLE PROPERTIES -->
    <div class="col-sm-6">
    <form *ngIf="(selectedSchema && selectedSchema.id.length != 0) && selectedTable" (ngSubmit)="onTableSubmit()" #tableForm="ngForm">

      <div class="form-group">
        <label for="id">Id</label>
        <input id="id" name="id" ngControl="id" type="text" class="form-control" [(ngModel)]="selectedTable.id" readonly placeholder="Table identifier" />
      </div>

      <div class="form-group">
        <label for="name">Name</label> <span tooltip="Unique name of the table" tooltipPlacement="right" class="glyphicon glyphicon-info-sign"></span>
        <input id="name" name="name" ngControl="name" type="text" class="form-control" [(ngModel)]="selectedTable.name" required placeholder="Table name"/>
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div> -->
      </div>

      <div class="form-group">
        <label for="maxLength">Maximum length</label> <span tooltip="Maximum number of rows in the table" tooltipPlacement="right" class="glyphicon glyphicon-info-sign"></span>
        <input id="maxLength" name="maxLength" ngControl="maxLength" type="number" class="form-control" [(ngModel)]="selectedTable.maxLength" required min="-1" placeholder="Maximum length of the table (-1 for unlimited)" />
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-warning" (click)="onTableDelete()" [disabled]="!selectedTable.id"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        <button type="submit" class="btn btn-success" [disabled]="!tableForm.form.valid"><span class="glyphicon glyphicon-ok"></span> Save</button>
      </div>

    </form>
    </div>

  </div>
</div>



<!-- ------------ -->
<!-- COLUMN PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>COLUMNS</b></h1>
  </div>
  <div class="panel-body">

    <!-- COLUMN LIST -->
    <div class="col-sm-6">
    <div class="list-group" *ngIf="selectedTable && selectedTable.id.length != 0">
      <a class="list-group-item"
        *ngFor="let col of columns"
        [class.active]="selectedColumn && selectedColumn.id === col.id" 
        (click)="onSelectColumn(col)"
        >
        <span class="badge alert-info">{{col.output.table.name}}</span>
        <h4 class="list-group-item-heading">{{col.name}}</h4>
        <div *ngIf="col.formula"><span class="label label-success label-as-badge">{{col.formula}}</span></div>
        <!-- <p class="list-group-item-text">Type: {{col.output.table.name}}</p> -->
      </a>
      <a 
        class="list-group-item"
        [class.active]="selectedColumn && selectedColumn.id.length == 0" 
        (click)="onSelectColumn(null)"
        >
        <h4 class="list-group-item-heading">[ADD NEW COLUMN]</h4>
      </a>

    </div>
    </div>

    <!-- COLUMN PROPERTIES -->
    <div class="col-sm-6">
    <form *ngIf="(selectedTable && selectedTable.id.length != 0) && selectedColumn" (ngSubmit)="onColumnSubmit()" #columnForm="ngForm">

      <div class="form-group">
        <label for="id">Id</label>
        <input id="id" name="id" ngControl="id" type="text" class="form-control" [(ngModel)]="selectedColumn.id" readonly placeholder="Column identifier" />
      </div>

      <div class="form-group">
        <label for="name">Name</label> <span tooltip="Unique name of the column" tooltipPlacement="right" class="glyphicon glyphicon-info-sign"></span>
        <input id="name" name="name" ngControl="name" type="text" class="form-control" [(ngModel)]="selectedColumn.name" required placeholder="Column name" />
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div> -->
      </div>

      <div class="form-group">
        <label for="type">Data type</label> <span tooltip="Data type of the column" tooltipPlacement="right" class="glyphicon glyphicon-info-sign"></span>
        <select id="type" name="type" ngControl="type" class="form-control" [(ngModel)]="selectedColumn.output.id" required >
          <option *ngFor="let tab of primitiveTables()" [ngValue]="tab.id">{{tab.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="formula">Formula</label> <span tooltip="Formula describes how values of this column are computed by using values in other columns and operations" tooltipPlacement="right" class="glyphicon glyphicon-info-sign"></span>
        <input id="formula" name="formula" ngControl="formula" type="text" class="form-control input-lg" [(ngModel)]="selectedColumn.formula" placeholder="Example: [Column 1] + [Column 2]" />
        <span class="help-block">Formula is an expression which uses arithmetic operations and other columns. Other column names have to be written in square brackets. For example, a column could be defined as follows: <code>([Column 1] + [Column 2]) * 2.0</code></span>
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Formula has to be a valid expression and contain references in other columns in square brackets</div> -->
      </div>

      <div class="form-group">
        <label for="descriptor">Descriptor</label>
        <input id="descriptor" name="descriptor" ngControl="descriptor" type="text" class="form-control" [(ngModel)]="selectedColumn.descriptor" placeholder="Column descriptor (JSON)" />
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Descriptor has to be a valid JSON string</div> -->
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-warning" (click)="onColumnDelete()" [disabled]="!selectedColumn.id"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        <button type="submit" class="btn btn-success" [disabled]="!columnForm.form.valid"><span class="glyphicon glyphicon-ok"></span> Save</button>
      </div>

    </form>
    </div>

  </div>

</div>



<!-- ------------ -->
<!-- DATA PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>DATA</b></h1>
  </div>
  <div class="panel-body">

  <div class="col-sm-12">
  <form (ngSubmit)="onReadSubmit()" #readForm="ngForm">

  <div class="form-group">
    <label for="records">Data from the selected table:</label> <span tooltip="This table dispays uploaded data after evaluating all its column formulas" tooltipPlacement="right" class="glyphicon glyphicon-info-sign"></span>
    <div class="panel panel-primary" style="overflow: auto; max-height: 300px !important;">
    <table id="records" name="records" class="table table-fixed header-fixed table-sm table-striped table-bordered table-hover" >
        <thead class="thead-inverse">
          <tr>
              <th *ngFor="let col of columns" class="bg-primary"><h4>{{col.name}}</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of records">
            <td *ngFor="let col of columns">{{row[col.name]}}</td>
          </tr>
        </tbody>
    </table>
    </div>
  </div>

  <div class="text-right">
    <button type="button" class="btn btn-warning" (click)="onTableEmpty()" [disabled]="!selectedTable" tooltip="Remove all records from the selected tables" tooltipPlacement="left">
      <span class="glyphicon glyphicon-trash"></span> Empty Table
    </button>
    <button type="submit" class="btn btn-success" [disabled]="!selectedTable" tooltip="Evaluate formulas of all columns and display the selected table" tooltipPlacement="left">
      <span class="glyphicon glyphicon-refresh"></span> Evalute Table and Display
    </button>
  </div>

  </form>
  </div>

  <div class="col-sm-12">
  <form (ngSubmit)="onWriteSubmit()" #writeForm="ngForm">

  <div class="form-group">
    <label for="writeCsv">Write CSV to table:</label> <span tooltip="The first row specifies column names and all other rows specify values for these columns" tooltipPlacement="right" class="glyphicon glyphicon-info-sign"></span>
    <textarea id="writeCsv" name="writeCsv" ngControl="writeCsv" [(ngModel)]="writeCsv" required class="form-control" rows="5" maxlength="1024" placeholder="Table data as CSV. Copy and paste including column names in the first row." ></textarea>
  </div>

  <button type="submit" class="btn btn-success pull-right" [disabled]="!writeForm.form.valid || !selectedTable" tooltip="Upload CSV data and append it to the selected table" tooltipPlacement="left">
    <span class="glyphicon glyphicon-upload"></span> Load Data in Table
  </button>

  </form>
  </div>

</div>

</div>
