/* CARD LIST
-------------------------------------------------- */

.dc-horizontal-list {
  overflow-x:auto; 
  overflow-y:hidden; 
  white-space:nowrap;
}

.dc-horizontal-list-item {
  min-width: 10rem; 
  max-width: 20rem; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.dc-list-item-active {
  border-width:0.2em; 
  border-color:blue;
}

/* OLD
-------------------------------------------------- */


.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.tables {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  /* width: 20em; */
}
.tables li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 3.0em;
  border-radius: 4px;
}
.tables li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.tables li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.tables .text {
  position: relative;
  top: -3px;
}
.tables .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2.5em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/*
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
*/

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
