<div class="panel-group" style="margin-left: 10px; margin-right: 10px;">

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>Working with Tables</b></h1>
  </div>
  <div class="panel-body">
    In <span class="dc">Data Commandr</span>, data is organized into many tables which are displayed in the TABLES panel as a list. 
    Each table must have a unique name.
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>Working with Columns</b></h1>
  </div>
  <div class="panel-body">
    <span class="dc">Data Commandr</span> is a column-oriented system because all data is stored and processed in columns. 
    All existing columns of the selected tables are displayed in the COLUMNS panel. Each column must have a unique name within its table. 
    A column is characterized by its type which is type of data it is intended to store.
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>Column Formulas</b></h1>
  </div>
  <div class="panel-body">
    Column formulas are the primary element of <span class="dc">Data Commandr</span> because they determine how the data will be processed. 
    Data in columns can be either uploaded or computed from other columns. 
    If the data has to be computed then the user has to provide a formula that will be used to derive its value from other columns.
    Column formula is an arithmetic expression which is composed of other column name and operations. 
    Column names used in formulas must be written in square brackets. 
    For example, if we want to compute the sum of two existing columns then the (third) column formula has to be defined as follows: <code>[Column 1] + [Column 2]</code>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>Displaying Data</b></h1>
  </div>
  <div class="panel-body">
    When a formula is defined or modified then it is not immediately evaluated and the column data is not updated. 
    The result of all column of one table can be visualized by explicitly evaluating the currently selected table.
    The result is then visualized as a number of rows where values have been either uploaded or computed from column formulas. 
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>Uploading Data</b></h1>
  </div>
  <div class="panel-body">
    Columns whithout a formula get their data from outside by uploading it to the selected table. 
    Currently <span class="dc">Data Commandr</span> supports import from CSV format. 
    This means that the first row of the text has to be a list of column names, for example, <code>Column 1, Column 2</code>. 
    All other rows store values for these columns, for example, the second row could contain the following two values: <code>22.22, 33.33</code>.
  </div>
</div>

</div>
