<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>Working with Tables</b></h1>
  </div>
  <div class="panel-body">
    [Describe how to create, edit and delete tables]
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>Working with Columns</b></h1>
  </div>
  <div class="panel-body">
    [Describe how to create, edit and delete columns]
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>Displaying Data</b></h1>
  </div>
  <div class="panel-body">
    [Describe how to evaluate and display]
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>Uploading Data</b></h1>
  </div>
  <div class="panel-body">
    [Describe how to upload]
  </div>
</div>
