<!-- ----------- -->
<!-- SCHEMA PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">SCHEMAS</h1>    
  </div>
  <div class="panel-body">

    <!-- SCHEMA LIST -->
    <div class="list-group col-sm-6">
      <a *ngFor="let spa of schemas"
        class="list-group-item"
        [class.active]="selectedSchema && spa.id === selectedSchema.id" 
        (click)="onSelectSchema(spa)"
        >
        <h4 class="list-group-item-heading">{{spa.name}}</h4>
      </a>
      <a 
        class="list-group-item"
        [class.active]="selectedSchema && selectedSchema.id === ''" 
        (click)="onSelectSchema(null)"
        >
        <h4 class="list-group-item-heading">[ADD NEW SCHEMA]</h4>
      </a>
    </div>

    <!-- SCHEMA PROPERTIES -->
    <div class="col-sm-6">

    <form *ngIf="selectedSchema" (ngSubmit)="onSchemaSubmit()" #schemaForm="ngForm">

      <div class="form-group">
        <label for="id">Id</label>
        <input name="id" ngControl="id" placeholder="id" type="text" class="form-control" [(ngModel)]="selectedSchema.id" readonly />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input name="name" ngControl="name" placeholder="name" type="text" class="form-control" [(ngModel)]="selectedSchema.name" required />
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div> -->
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-warning" (click)="onSchemaDelete()" [disabled]="!selectedSchema.id">Delete</button>
        <button type="submit" class="btn btn-success" [disabled]="!schemaForm.form.valid">Save</button>
      </div>

    </form>

    <form *ngIf="selectedSchema" (ngSubmit)="onUploadClick()" #readForm="ngForm">

    <div class="form-group">
      <label for="file-upload">Select asset:</label>
      <input name="file-upload" type="file" class="form-control" (change)="fileChangeEvent2($event)" placeholder="file-upload" />
    </div>
    <button type="submit" class="btn btn-success pull-right" [disabled]="!fileToUpload">Upload</button>
    </form>

  <!-- [(ngModel)] doesn’t work.  In the current version of Angular 2, it doesn’t map correctly which is why I had to cheat with the change event. -->
  <!--
  <input type="file" (change)="fileChangeEvent2($event)" placeholder="Upload file..." />
  <button type="button" class="btn btn-success" [disabled]="!fileToUpload" (click)="onUploadClick()">Upload</button>
  -->

  <!--
  <label for="file">Select a File to Upload</label>

  <input type="file" id="msds" name="msds" ng-model="msds" />
  <input type="file" ng-model-instant id="file" multiple onchange="angular.element(this).scope().setFiles(this)" />
  <button ng-click="uploadFile()">Upload</button>
  -->

    </div>

  </div>
</div>



<!-- ----------- -->
<!-- TABLE PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">TABLES</h1>    
  </div>
  <div class="panel-body">

    <!-- TABLE LIST -->
    <div class="col-sm-6">
    <div class="list-group" *ngIf="selectedSchema && selectedSchema.id.length != 0">
      <a class="list-group-item"
        *ngFor="let tab of nonprimitiveTables()"
        [class.active]="selectedTable && selectedTable.id === tab.id" 
        (click)="onSelectTable(tab)"
        >
        <h4 class="list-group-item-heading">{{tab.name}}</h4>
      </a>
      <a class="list-group-item"
        [class.active]="selectedTable && selectedTable.id.length == 0" 
        (click)="onSelectTable(null)"
        >
        <h4 class="list-group-item-heading">[ADD NEW TABLE]</h4>
      </a>
    </div>
    </div>

    <!-- TABLE PROPERTIES -->
    <div class="col-sm-6">
    <form *ngIf="(selectedSchema && selectedSchema.id.length != 0) && selectedTable" (ngSubmit)="onTableSubmit()" #tableForm="ngForm">

      <div class="form-group">
        <label for="id">Id</label>
        <input name="id" ngControl="id" placeholder="id" type="text" class="form-control" [(ngModel)]="selectedTable.id" readonly />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input name="name" ngControl="name" placeholder="name" type="text" class="form-control" [(ngModel)]="selectedTable.name" required />
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div> -->
      </div>

      <div class="form-group">
        <label for="maxLength">Maximum length</label>
        <input name="maxLength" ngControl="maxLength" placeholder="maxLength" type="number" class="form-control" [(ngModel)]="selectedTable.maxLength" required min="-1"/>
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-warning" (click)="onTableDelete()" [disabled]="!selectedTable.id">Delete</button>
        <button type="submit" class="btn btn-success" [disabled]="!tableForm.form.valid">Save</button>
      </div>

    </form>
    </div>

  </div>
</div>



<!-- ------------ -->
<!-- COLUMN PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">COLUMNS</h1>    
  </div>
  <div class="panel-body">

    <!-- COLUMN LIST -->
    <div class="col-sm-6">
    <div class="list-group" *ngIf="selectedTable && selectedTable.id.length != 0">
      <a class="list-group-item"
        *ngFor="let col of columns"
        [class.active]="selectedColumn && selectedColumn.id === col.id" 
        (click)="onSelectColumn(col)"
        >
        <span class="badge">{{col.output.table.name}}</span>
        <h4 class="list-group-item-heading">{{col.name}}</h4>
        <!-- <p class="list-group-item-text">Type: {{col.output.table.name}}</p> -->
      </a>
      <a 
        class="list-group-item"
        [class.active]="selectedColumn && selectedColumn.id.length == 0" 
        (click)="onSelectColumn(null)"
        >
        <h4 class="list-group-item-heading">[ADD NEW COLUMN]</h4>
      </a>

    </div>
    </div>

    <!-- COLUMN PROPERTIES -->
    <div class="col-sm-6">
    <form *ngIf="(selectedTable && selectedTable.id.length != 0) && selectedColumn" (ngSubmit)="onColumnSubmit()" #columnForm="ngForm">

      <div class="form-group">
        <label for="id">Id</label>
        <input name="id" ngControl="id" placeholder="id" type="text" class="form-control" [(ngModel)]="selectedColumn.id" readonly />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input name="name" ngControl="name" placeholder="name" type="text" class="form-control" [(ngModel)]="selectedColumn.name" required />
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div> -->
      </div>

      <div class="form-group">
        <label for="type">Choose type</label>
        <select name="output" class="form-control" [(ngModel)]="selectedColumn.output.id" required>
          <option *ngFor="let tab of primitiveTables()" [ngValue]="tab.id">{{tab.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="formula">Formula</label>
        <input name="formula" ngControl="formula" placeholder="formula" type="text" class="form-control" [(ngModel)]="selectedColumn.formula" />
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Formula has to be a valid expression and contain references in other columns in square brackets</div> -->
      </div>

      <div class="form-group">
        <label for="descriptor">Descriptor</label>
        <input name="descriptor" ngControl="descriptor" placeholder="descriptor" type="text" class="form-control" [(ngModel)]="selectedColumn.descriptor" />
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Descriptor has to be a valid JSON string</div> -->
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-warning" (click)="onColumnDelete()" [disabled]="!selectedColumn.id">Delete</button>
        <button type="submit" class="btn btn-success" [disabled]="!columnForm.form.valid">Save</button>
      </div>

    </form>
    </div>

  </div>

</div>



<!-- ------------ -->
<!-- DATA PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">DATA</h1>    
  </div>
  <div class="panel-body">

  <div class="col-sm-6">
  <form (ngSubmit)="onReadSubmit()" #readForm="ngForm">

  <div class="form-group">
    <label for="readJson">Read JSON from table:</label>
    <textarea name="readJson" ngControl="readJson" placeholder="readJson" id="readJson" [(ngModel)]="readJson" readonly class="form-control" rows="5"></textarea>
  </div>

  <button type="submit" class="btn btn-success pull-right" [disabled]="!selectedTable">Read</button>

  </form>
  </div>

  <div class="col-sm-6">
  <form (ngSubmit)="onWriteSubmit()" #writeForm="ngForm">

  <div class="form-group">
    <label for="writeJson">Write JSON to table:</label>
    <textarea name="writeJson" ngControl="writeJson" placeholder="writeJson" id="writeJson" [(ngModel)]="writeJson" required class="form-control" rows="5"></textarea>
  </div>

  <button type="submit" class="btn btn-success pull-right" [disabled]="!writeForm.form.valid || !selectedTable">Write</button>

  </form>
  </div>

</div>
