<div class="panel-group" style="margin-left: 10px; margin-right: 10px;">

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>WHAT IS DATA COMMANDR</b></h1>
  </div>
  <div class="panel-body">
    <div class="row featurette">
      <div class="col-lg-4">
        <h5>
          <span class="dc">Data Commandr</span> is a tool for data integration, transformation, analysis and other data manipulation and data wrangling tasks.
        </h5>
      </div>
      <div class="col-lg-4">
        <h5>
          <span class="dc">Data Commandr</span> was created with a single mission: radically simplify and democratize all kinds of operations with data for non-IT users.
        </h5>
      </div>
      <div class="col-lg-4">
        <h5>
          <span class="dc">Data Commandr</span> employs the familiar spreadsheet approach but instead of cell-formulas it uses <em>column-formulas</em>, and it avoids set-oriented operations like join or group-by.
          Therefore, <span class="dc">Data Commandr</span> can be viewed as an "Excel for Big Data" or "Big Data Calculator".
        </h5>
      </div>
    </div>

    <!--
    span class="dc">Data Commandr</span> is aimed at creating new <em>data mash-ups</em> in seconds by integrating numerous heterogeneous data sources. It revolutionizes the way data integration is done by combining data transformation and analysis.
    --> 

    <!--
    <div class="row featurette">
      <div class="col-lg-4">
        <h3>Self-service and user-driven</h3>
        <p>No experience in mathematics or statistics is needed. Assistance engine and automatic recommendations at all stages based on data semantics, automatically discovered relationships, user behavior analysis and the current context.</p>
      </div>
      <div class="col-lg-4">
        <h3>Agile and ad-hoc</h3>
        <p>Play with data in an agile manner by changing transformation and computation options. Define arbitrary custom transformations and computations without predefined scenarios by using an easy to use but powerful analytical expression language.</p>
      </div>
      <div class="col-lg-4">
        <h3>Real time and responsive</h3>
        <p>Instant reaction even for large data sets thanks to a novel column-oriented in-memory data processing engine.</p>
      </div>
    </div>
    -->
     
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>FOR WHOM DATA COMMANDR IS USEFUL (Customers)?</b></h1>
  </div>
  <div class="panel-body">

    <h5>
      <span class="dc">Data Commandr</span> is a self-service tool for mass market. 
      It is intended for a broad range of <em>non-IT users</em> starting from data enthusiasts, casual users or business users, and ending with data artisans and analysts. 
      All these users do not possess deep knowledge in mathematics and statistics but need some simple yet powerful tool to solve a problem or answer a question by analyzing available data. 
      The buyers of the product are companies which want to reduce their IT costs by getting analytical tools suitable for business users.
    </h5>

  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>WHAT PROBLEMS DATA COMMANDR SOLVES (Pains)?</b></h1>
  </div>
  <div class="panel-body">
    <h5>
      <!-- A typical problem for businesses is that there exist many corporate and external <em>data sources</em> but none of them has data the user needs. 
      This problem is getting even more acute with the explosion of data <em>volume</em> and the <em>variety</em> of data sources - the Big Data problem. --> 

      Data integration, transformation and other data wrangling tasks account for a great deal or even most of the difficulties in <em>data analysis</em> and constitute the most tedious part of the overall analysis process.
      These problems are normally solved by experts by means of classical BI tools or scripting tools. This traditional approach is not only expensive and slow but also error-prone because frequently IT experts do not understand the needs of domain-experts.
    </h5>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>HOW DATA COMMANDR WORKS AND COMPETITIVE ADVANTAGES (USP)</b></h1>
  </div>
  <div class="panel-body">

	  <div class="row featurette">
		<div class="col-lg-6">
		  <h5>
        <span class="dc">Data Commandr</span> is based on a novel technology for data management and analytics collectively referred to as <em>concept-orientation</em>.  
        It was developed by <a href="http://conceptoriented.org/savinov">Dr. Alexandr Savinov</a> and published in more than 20 academic papers: <a href="http://conceptoriented.org">http://conceptoriented.org</a>.
      </h5>
		</div>
		<div class="col-lg-6">
		  <h5>
        <span class="dc">Data Commandr</span> is as powerful as contemporary query languages (e.g., SQL) but at the same time it gets rid of set-oriented operations which are know to be difficult to understand and use for non-IT users. 
        Rather, it employs the spreadsheet (functional) approach where data elements are defined in terms of other data elements. 
        Yet, <span class="dc">Data Commandr</span> is not a spreadsheet because it uses data columns instead of data cells. 
        In other words, the user defines new data columns based on the existing data columns by producing a graph of column operations as opposed to a graph of cell operations or a graph of set operations. 
        In this sense, <span class="dc">Data Commandr</span> could be characterized as Excel for <em>column-based</em> analytical data integration and transformation.
      </h5>
		</div>
	  </div>


  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>VALUE PROPOSITION AND BENEFITS (Gains)</b></h1>
  </div>
  <div class="panel-body">


    By making data manipulations easier for non-IT users, <span class="dc">Data Commandr</span> dramatically shortens the total time for data integration, transformation and analysis.



	  <div class="row featurette">
		<div class="col-lg-4">
		  <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Self-service"> -->
		  <h3>Ease of use</h3>
		  <p><span class="dc">Data Commandr</span> makes complex analytical data integration possible for non-IT users.</p>
		  <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
		  <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Agile"> -->
		  <h3>Fast time-to-value</h3>
		  <p><span class="dc">Data Commandr</span> dramatically shortens the total time for data integration, transformation and analysis from months to minutes.</p>
		  <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
		  <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Real time"> -->
		  <h3>Lower TCO</h3>
		  <p><span class="dc">Data Commandr</span> transfers the burden of authoring BI contents to the end users who know much better what needs to be done.</p>
		  <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
		</div><!-- /.col-lg-4 -->
	  </div><!-- /.row -->

  </div>
</div>

</div>
