<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>What is Data Commandr</b></h1>
  </div>
  <div class="panel-body">
    <b class="dc">Data Commandr</b> is a self-service tool for mass market which is positioned as an "Excel for Big Data" or "Big Data Calculator". 
    It was created with a single mission: radically simplifying and democratizing all kinds of operations with data for everyone with little or no help from IT. 
    By making data manipulations easier for non-IT users, <b class="dc">Data Commandr</b> dramatically shortens the total time for data integration, transformation and analysis.

    <b class="dc">Data Commandr</b> is aimed at creating new <em>data mash-ups</em> in seconds by integrating numerous heterogeneous data sources. It revolutionizes the way data integration is done by combining data transformation and analysis. <b class="dc">Data Commandr</b> employs the familiar spreadsheet concept but instead of cell-formulas it uses <em>column-formulas</em>.

    <div class="row featurette"> <!-- Product features: three columns -->
      <div class="col-lg-4">
        <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Self-service"> -->
        <h3>Self-service and user-driven</h3>
        <p>No experience in mathematics or statistics is needed. Assistance engine and automatic recommendations at all stages based on data semantics, automatically discovered relationships, user behavior analysis and the current context.</p>
        <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Agile"> -->
        <h3>Agile and ad-hoc</h3>
        <p>Play with data in an agile manner by changing transformation and computation options. Define arbitrary custom transformations and computations without predefined scenarios by using an easy to use but powerful analytical expression language.</p>
        <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Real time"> -->
        <h3>Real time and responsive</h3>
        <p>Instant reaction even for large data sets thanks to a novel column-oriented in-memory data processing engine.</p>
        <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
     
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>For whom Data Commandr is Useful (Customers)</b></h1>
  </div>
  <div class="panel-body">
    <b class="dc">Data Commandr</b> is intended for a broad range of <em>non-IT users</em> starting from data enthusiasts, casual users or business users, and ending with data artisans and analysts. All these users do not possess deep knowledge in mathematics and statistics but need some simple yet powerful tool to solve a problem or answer a question by analyzing available data. The buyers of the product are companies which want to reduce their IT costs by getting analytical tools suitable for business users.
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>What Problems Data Commandr Solves (Pains)</b></h1>
  </div>
  <div class="panel-body">
      A typical problem for businesses is that there exist many corporate and external <em>data sources</em> but none of them has data the user needs. This problem is getting even more acute with the explosion of data <em>volume</em> and the <em>variety</em> of data sources - the Big Data problem. In this case, data integration, transformation and other "data wrangling" tasks account for a great deal or even most of the difficulties in <em>data analysis</em> and constitute the most tedious part of the overall analysis process.
      Such data wrangling tasks are normally performed by experts from the IT department by using classical BI tools. This traditional approach is not only expensive and slow but also error-prone because frequently IT department do not understand the needs of domain-experts.
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>How Data Commandr Works and Competitive Advantages (USP)</b></h1>
  </div>
  <div class="panel-body">

	  <div class="row featurette">
		<div class="col-lg-6">
		  <h3>Novel technology</h3>
		  <p><b class="dc">Data Commandr</b> is based on a unique disruptive technology for data management and analytics collectively referred to as <em>concept-orientation</em>. It originates from almost a decade of research performed by <a href="http://conceptoriented.org/savinov">Dr. Alexandr Savinov</a> at several research organizations and published in more than 20 academic papers: <a href="http://conceptoriented.org">http://conceptoriented.org</a>.</p>
		</div><!-- /.col-lg-6 -->
		<div class="col-lg-6">
		  <h3>New design</h3>
		  <p><b class="dc">Data Commandr</b> employs a novel design of the product. It is based on the assumption that the user can define new data columns based on the existing data columns similar to how cells in spreadsheet applications are defined in terms of other cells. In this sense, <b class="dc">Data Commandr</b> could be characterized as Excel for <em>column-based</em> analytical data integration and transformation.</p>
		</div>
	  </div>


  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center"><b>Value Proposition Benefits (Gains)</b></h1>
  </div>
  <div class="panel-body">

	  <div class="row featurette">
		<div class="col-lg-4">
		  <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Self-service"> -->
		  <h3>Ease of use</h3>
		  <p><b class="dc">Data Commandr</b> makes complex analytical data integration possible for non-IT users.</p>
		  <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
		  <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Agile"> -->
		  <h3>Fast time-to-value</h3>
		  <p><b class="dc">Data Commandr</b> dramatically shortens the total time for data integration, transformation and analysis from months to minutes.</p>
		  <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
		  <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Real time"> -->
		  <h3>Lower TCO</h3>
		  <p><b class="dc">Data Commandr</b> transfers the burden of authoring BI contents to the end users who know much better what needs to be done.</p>
		  <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
		</div><!-- /.col-lg-4 -->
	  </div><!-- /.row -->

  </div>
</div>
