/* CARD LIST
-------------------------------------------------- */

/*
style="overflow: auto; max-height: 300px !important;"
style="white-space:nowrap;" -- it is for line items
.nowrap {
    overflow-x:auto;
    overflow-y:hidden;
    white-space: nowrap;
}
style="word-wrap: break-word !important;"
style="overflow-x:auto; overflow-y:hidden; white-space: nowrap;"
white-space: normal;

// Class
.invisible {
  visibility: hidden;
}

// Usage as a mixin
.element {
  @include invisible;
}
*/

/* It is for schema/table/column horizontal lists with scrolling */
.dc-horizontal-list {
  overflow-x:auto; 
  overflow-y:hidden; 
  white-space:nowrap;

  margin: 0.0rem;
  padding: 0.5rem;
}

/* It is for items in the schema/table/column horizontal lists */
.dc-horizontal-list-item {
  min-width: 1rem; 
  max-width: 20rem; 
  overflow: hidden; 
  text-overflow: ellipsis;

  margin: 0.0rem;
  padding: 0.5rem;
  border-radius:0.3rem;
}

.dc-horizontal-list-item:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

/* It is a selected schema/table/column item */
.dc-list-item-active {
  background-color: #eeeeee;

  border-width:0.1em; 
  border-color:lightblue;

  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.18);
  /*box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);*/
}

/* Style for showing absent status or no formula */
.dc-status-red-icon {
  color: #D8000C;
}
.dc-status-yellow-icon {
  color: #9F6000;
  /* font-size: large; */
}
.dc-status-green-icon {
  color :#4F8A10;
}

/* Style for showing absent status or no formula */
.dc-status-red {
  background-color: #ff8080 !important;
}
.dc-status-yellow {
  background-color: #ffff40 !important;
}
.dc-status-green {
  background-color: lightgreen !important;
}


/* 
Vertical list of buttons shown on the left side of horisontal list (as the first item in the list and formatted similarly) 
    <a class="list-inline-item dc-button-panel">
    <div class="btn-group-vertical">
    ... BUTTONS ...
*/
.dc-button-panel {
  min-width: 1rem; 
  max-width: 5rem; 
  overflow: hidden; 
  text-overflow: ellipsis;

  /* We need border on the right side probably or around the whole panel */

  padding: 0.1rem;
  border-radius:0rem;
}

/* OLD
-------------------------------------------------- */


.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.tables {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  /* width: 20em; */
}
.tables li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 3.0em;
  border-radius: 4px;
}
.tables li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.tables li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.tables .text {
  position: relative;
  top: -3px;
}
.tables .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2.5em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/*
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
*/

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}


/* 
We can define explicitly size and absolute positions of header, body and footer with body having auto scrolling:
http://stackoverflow.com/questions/29038596/bootstrap-fixed-header-and-footer-with-scrolling-body-content-area-in-fluid-cont
Since the size of the body is smaller, the scroll bar will be added only to its height without footer.
*/


/* in the case we use <footer> 
http://stackoverflow.com/questions/19330611/fixed-footer-in-bootstrap
http://www.bootply.com/87811
Note that the footer will be shown over the body by hiding lowerst part of it and hence:
1.we need to add bottom margin to the main body equal to the height of the footer so that it does not hide it.
2. Scroll bar will be added to the whole height of the body including the footer.
*/
/*
footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}
*/

/* in the case we use class like class="footer" 
http://www.bootply.com/87811
*/
/*
.footer {
  background-color:#ffffff;
  bottom:0;
  position:fixed;
  padding:10px;
}
*/

/* in the case we use div id="my-footer" */
/*
#my-footer {
  height: 60px;
  background-color: #f5f5f5;
}
*/


/* Show button on hover
http://stackoverflow.com/questions/26632713/show-delete-button-on-right-side-of-bootstrap-row-on-hover
*/

.hover-btn {
  position: absolute;
  right: 5px;
  display: none;
}

.dc-horizontal-list-item:hover .hover-btn {
  display: block;
}
