<!-- Here margin-top and margin-bottom are used to add space equal to the header and footer - otherwise they will hide the main page. -->
<div class="card" style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px;">

<!-- NOTE: The use of ngIf along with bsModal raises the exception: "Cannot set property stack of [object Object] which has only a getter" -->
<!-- NOTE: We could try to use ngIf to hide/show modal -->

<!-- [text]="company?.name" to eaily check for null before accessing an attribute -->

<!-- Visibility Options and Conditional Styling

*ngIf="CONDITION-EXPRESSION" - removes element from DOM
[style.visibility]="CONDITION-EXPRESSION ? 'inherit' : 'hidden'" - changes only visibility without removing from DOM
[class.invisible]**="CONDITION-EXPRESSION"
<div class="invisible">...</div> - hides element which however still exists (display is not modified) 
  .invisible { visibility: hidden; }
  .element { @include invisible; } - usage of invisible as a mixin
[hidden]="CONDITION-EXPRESSION" - acts like display: none

[disabled]="CONDITION-EXPRESSION" - make inactive, e.g., button
<input readonly /> - make input passive
[readonly]="CONDITION-EXPRESSION"
[required]="isRequired ? 'true'' : null"

[style.some-style]="CONDITION-EXPRESSION ? 'value1' : 'value2'" - use style value1 or value2
[class.my-class]="CONDITION-EXPRESSION" - use class (or not use at all)
[class.active]="CONDITION-EXPRESSION" - make item active, e.g., list item

-->

<!--
How to implement modal dialog as a separate component (so that we factor all dialogs out to separate files):
http://stackoverflow.com/questions/35400811/how-to-use-codes-to-open-a-modal-in-angular-2

From here http://www.quackit.com/bootstrap/bootstrap_4/tutorial/bootstrap_forms.cfm
Use row class for horizontal form (form-horizontal is optional)
Use col-form-label class for labels

-->

<!-- TEST: how to use list-group-item and a -->



<!-- ----------- -->
<!-- SCHEMA LIST -->
<div class="card">

  <div class="card-header list-inline" style="padding: 0.2rem;">

    <i class="fa fa-info-circle" popover="Here you can manage your databases by adding, editing or removing them" triggers="hover" container="body" placement="right" ></i>
    <h6 class="card-subtitle list-inline-item"><b>BASES:</b></h6>

    <div class="list-inline-item">
      <button type="button" class="btn btn-secondary btn-outline-primary btn-sm" [disabled]="!(selectedSchema && selectedSchema.id)" (click)="onSchemaEvaluate()" title="Evaluate all formulas" ><i class="fa fa-play"></i> Evaluate</button>
    </div>
    <div class="list-inline-item">
      <button type="button" class="btn btn-secondary btn-sm" [disabled]="!(selectedSchema && selectedSchema.id)" (click)="schemaModal.show()" title="Edit selected base..." ><i class="fa fa-edit"></i></button>
      <button type="button" class="btn btn-secondary btn-sm" [disabled]="!(selectedSchema && selectedSchema.id)" (click)="schemaDeleteModal.show()" title="Delete selected base..." ><i class="fa fa-trash"></i></button>
    </div>

  </div>

  <div class="card dc-horizontal-list">
  <ul *ngIf="selectedAccount" class="list-inline" style="margin: 0px;" >

    <a *ngFor="let spa of schemas"
      class="list-inline-item"
      (click)="onSchemaSelect(spa)"
      >
      <div [class.dc-list-item-active]="selectedSchema && spa.id === selectedSchema.id" class="card dc-horizontal-list-item">
        <div>
          <h6 class="card-text">{{spa.name}}</h6>
        </div>
      </div>
    </a>
    <a
      class="list-inline-item"
      (click)="onSchemaSelect(null)"
      >
      <div [class.dc-list-item-active]="selectedSchema && selectedSchema.id === ''" class="card dc-horizontal-list-item">
        <div title="Create new base..." >
          <h6 class="card-text">
            <i class="fa fa-plus"></i>
          </h6>
        </div>
      </div>
    </a>
  </ul>
  </div>

</div>

<!-- SCHEMA EDIT DIALOG -->
<div bsModal #schemaModal="bs-modal" [config]="{backdrop: true}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Edit Base" aria-hidden="true">
  <div class="modal-dialog">
    <div *ngIf="selectedSchema" class="modal-content">
      <form (ngSubmit)="onSchemaSubmit(); schemaModal.hide();" #schemaForm="ngForm">

      <div class="modal-header">
        <button type="button" class="close" (click)="schemaModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Base</h4>
      </div>

      <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label> <i class="fa fa-info-circle" popover="Unique name of the base" triggers="hover" container="body" placement="right" ></i>
            <input id="name" name="name" ngControl="name" type="text" class="form-control" [(ngModel)]="selectedSchema && selectedSchema.name" required placeholder="Base name"/>
          </div>
      </div>

      <div class="modal-footer">
        <div class="text-xs-right">
          <button type="button" class="btn btn-default" (click)="schemaModal.hide()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-primary" ><i class="fa fa-check"></i> Ok</button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>

<!-- SCHEMA DELETE DIALOG -->
<div bsModal #schemaDeleteModal="bs-modal" [config]="{backdrop: true}" class="modal fade" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content" *ngIf="selectedSchema">
      <form (ngSubmit)="onSchemaDelete(); schemaDeleteModal.hide();" #schemaForm="ngForm">

      <div class="modal-header">
        <button type="button" class="close" (click)="schemaDeleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete Base</h4>
      </div>

      <div class="modal-body">
        Delete the selected base: {{selectedSchema.name}}?
      </div>

      <div class="modal-footer">
        <div class="text-xs-right">
          <button type="button" class="btn btn-default" (click)="schemaDeleteModal.hide()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-primary" ><i class="fa fa-check"></i> Delete</button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>



<!-- ---------- -->
<!-- TABLE LIST -->
<div class="card">

  <div class="card-header list-inline" style="padding: 0.2rem;">

    <i class="fa fa-info-circle" popover="Here you can manage tables of one databases by adding, editing or removing them as well as working with data" triggers="hover" container="body" placement="right" ></i>
    <h6 class="card-subtitle list-inline-item"><b>TABLES:</b></h6>

    <div class="list-inline-item">
      <button type="button" class="btn btn-secondary btn-outline-primary btn-sm" [disabled]="!(selectedTable && selectedTable.id)" (click)="onTableRead()" title="Read and display data in the selected table" ><i class="fa fa-refresh"></i> Load</button>
    </div>
    <div class="list-inline-item">
      <button type="button" class="btn btn-secondary btn-sm" [disabled]="!(selectedTable && selectedTable.id)" (click)="tableModal.show()" title="Edit selected table..." ><i class="fa fa-edit"></i></button>
      <button type="button" class="btn btn-secondary btn-sm" [disabled]="!(selectedTable && selectedTable.id)" (click)="tableDeleteModal.show()" title="Delete selected table..." ><i class="fa fa-trash"></i></button>
    </div>
    <div class="list-inline-item">
      <button type="button" class="btn btn-secondary btn-sm" [disabled]="!(selectedTable && selectedTable.id)" (click)="uploadModal.show()" title="Upload and append data to the selected table..."><i class="fa fa-cloud-upload"></i></button>
      <button type="button" class="btn btn-secondary btn-sm" [disabled]="!(selectedTable && selectedTable.id)" (click)="tableEmptyModal.show()" title="Remove all records from the selected table..." placement="left"><i class="fa fa-times"></i></button>
    </div>

  </div>

  <div class="card dc-horizontal-list">
  <ul *ngIf="selectedSchema && selectedSchema.id.length > 0" class="list-inline" style="margin: 0px;" >

    <a *ngFor="let tab of nonprimitiveTables()"
      class="list-inline-item"
      (click)="onTableSelect(tab)"
      >
      <div [class.dc-list-item-active]="selectedTable && selectedTable.id === tab.id" class="card dc-horizontal-list-item">
        <div>
          <h6 class="card-text">
            {{tab.name}}
          </h6>
        </div>
      </div>
    </a>
    <a
      class="list-inline-item"
      (click)="onTableSelect(null)"
      >
      <div [class.dc-list-item-active]="selectedTable && selectedTable.id.length == 0" class="card dc-horizontal-list-item">
        <div title="Create new table..." >
          <h6 class="card-text">
            <i class="fa fa-plus"></i>
          </h6>
        </div>
        <!--
        <div class="card-footer" [style.visibility]="selectedTable && selectedTable.id.length === 0 ? 'inherit' : 'hidden'">
          <div class="text-xs-right">
            <button type="button" class="btn btn-primary" [disabled]="!(selectedTable && selectedTable.id.length === 0)" (click)="tableModal.show()"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        -->
      </div>
    </a>
  </ul>
  </div>

</div>

<!-- TABLE EDIT DIALOG -->
<div bsModal #tableModal="bs-modal" [config]="{backdrop: true}" class="modal fade" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div *ngIf="selectedTable" class="modal-content">
      <form (ngSubmit)="onTableSubmit(); tableModal.hide();" #tableForm="ngForm">

      <div class="modal-header">
        <button type="button" class="close" (click)="tableModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Table</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label> <i class="fa fa-info-circle" popover="Unique name of the table" triggers="hover" container="body" placement="right" ></i>
          <input id="name" name="name" ngControl="name" type="text" class="form-control" [(ngModel)]="selectedTable && selectedTable.name" required placeholder="Table name"/>
        </div>
        <div class="form-group">
          <label for="maxLength">Maximum length</label> <i class="fa fa-info-circle" popover="Maximum number of rows in the table" triggers="hover" container="body" placement="right" ></i>
          <input id="maxLength" name="maxLength" ngControl="maxLength" type="number" class="form-control" [(ngModel)]="selectedTable && selectedTable.maxLength" required min="-1" placeholder="Maximum length of the table (-1 for unlimited)" />
        </div>
      </div>

      <div class="modal-footer">
        <div class="text-xs-right">
          <button type="button" class="btn btn-default" (click)="tableModal.hide()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-primary" ><i class="fa fa-check"></i> Ok</button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>

<!-- TABLE DELETE DIALOG -->
<div bsModal #tableDeleteModal="bs-modal" [config]="{backdrop: true}" class="modal fade" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content" *ngIf="selectedTable">
      <form (ngSubmit)="onTableDelete(); tableDeleteModal.hide();" #tableForm="ngForm">

      <div class="modal-header">
        <button type="button" class="close" (click)="tableDeleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete Table</h4>
      </div>

      <div class="modal-body">
        Delete the selected table: {{selectedTable.name}}?
      </div>

      <div class="modal-footer">
        <div class="text-xs-right">
          <button type="button" class="btn btn-default" (click)="tableDeleteModal.hide()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-primary" ><i class="fa fa-check"></i> Delete</button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>

<!-- UPLOAD DIALOG -->
<div bsModal #uploadModal="bs-modal" [config]="{backdrop: true}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Upload Data" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngIf="selectedTable">
      <form (ngSubmit)="onTableUpload(); uploadModal.hide();" #uploadForm="ngForm">

      <div class="modal-header">
        <button type="button" class="close" (click)="uploadModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Upload Data</h4>
      </div>

      <div class="modal-body">

        <div class="alert alert-info" role="alert">
          First row provides column names, for example, <code>My Column 1, My Column 1</code>. Not all columns in the table are needed.
          Each next row represents a data record, for example, <code>123.45, my string</code>. Maximum 8192 characters can be uploaded for one time.
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <div class="form-check">
              <label class="form-check-label">
                <input id="createColumns" name="createColumns" ngControl="createColumns" [(ngModel)]="createColumns" class="form-check-input" type="checkbox" > Create columns which do not exist in the table
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <textarea id="uploadCsv" name="uploadCsv" ngControl="uploadCsv" [(ngModel)]="uploadCsv" class="form-control" rows="10" maxlength="8192" style="overflow-x: auto; white-space: pre; " ></textarea>
        </div>

        <div class="input-group">
          <input type="file" id="fileToUpload" name="fileToUpload" class="form-control" (change)="fileChangeEvent($event)" accept=".csv" />
          <span class="input-group-btn">
            <button type="button" class="btn" [disabled]="!fileToUpload" (click)="loadFileToTextArea()" title="Read and paste records into the text area" ><i class="fa fa-file-text-o"></i> Read and Paste</button>
          </span>
        </div>
      </div>

      <div class="modal-footer">
        <div class="text-xs-right">
          <button type="button" class="btn btn-default" (click)="uploadModal.hide()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-primary" ><i class="fa fa-check"></i> Ok</button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>

<!-- TABLE EMPTY DIALOG -->
<div bsModal #tableEmptyModal="bs-modal" [config]="{backdrop: true}" class="modal fade" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content" *ngIf="selectedTable">
      <form (ngSubmit)="onTableEmpty(); tableEmptyModal.hide();" #tableEmptyForm="ngForm">

      <div class="modal-header">
        <button type="button" class="close" (click)="tableEmptyModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Empty Data</h4>
      </div>

      <div class="modal-body">
        Remove all records from the selected table: {{selectedTable.name}}?
      </div>

      <div class="modal-footer">
        <div class="text-xs-right">
          <button type="button" class="btn btn-default" (click)="tableEmptyModal.hide()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-primary" ><i class="fa fa-check"></i> Delete</button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>



<!-- ----------- -->
<!-- COLUMN LIST -->
<div class="card">

  <div class="card-header list-inline" style="padding: 0.2rem;">

    <i class="fa fa-info-circle" popover="Here you can manage columns of one table by adding, editing or removing them as well as defining formulas" triggers="hover" container="body" placement="right" ></i>
    <h6 class="card-subtitle list-inline-item"><b>COLUMNS</b></h6>

    <div class="list-inline-item">
      <button type="button" class="btn btn-secondary btn-sm" [disabled]="!(selectedColumn && selectedColumn.id)" (click)="columnModal.show()" title="Edit selected column..." ><i class="fa fa-edit"></i></button>
      <button type="button" class="btn btn-secondary btn-sm" [disabled]="!(selectedColumn && selectedColumn.id)" (click)="columnDeleteModal.show()" title="Delete selected column..." ><i class="fa fa-trash"></i></button>
    </div>

  </div>

  <div class="card dc-horizontal-list">
  <ul *ngIf="selectedTable && selectedTable.id.length > 0" class="list-inline" style="margin: 0px;" >

    <a *ngFor="let col of selectedTableColumns"
      class="list-inline-item"
      (click)="onColumnSelect(col)"
      >
      <div [class.dc-list-item-active]="selectedColumn && selectedColumn.id === col.id" class="card dc-horizontal-list-item">
        <div>
          <h6 class="card-text">
            {{col.name}}
          </h6>
          <h6 class="card-subtitle text-muted">

            <template #popDirtyNull>It is not a derived column and it cannot be evaluated</template>
            <i *ngIf="false && !col.isDerived()" class="fa fa-circle-o pull-right" [popover]="popDirtyNull" triggers="hover" container="body" placement="right" ></i>
            <template #popDirtyFalse>Column data is up-to-date</template>
            <i *ngIf="col.isDerived() && !col.dirty" class="fa fa-check-circle-o pull-right" style="color :#4F8A10;" [popover]="popDirtyFalse" triggers="hover" container="body" placement="right" ></i>
            <template #popDirtyTrue>Column needs to be evaluated. Click Evaluate button.</template>
            <i *ngIf="col.isDerived() && col.dirty" class="fa fa-play-circle-o pull-right" style="color :#D8000C;" [popover]="popDirtyTrue" triggers="hover" container="body" placement="right" ></i>

            {{col.output.table.name}}
          </h6>
          <h6 class="card-text">

            <template #popStatusNull>No formula</template>
            <i *ngIf="false && col.getStatusColor() == '' || col.getStatusColor() == null" class="fa fa-circle-o pull-right" [popover]="popStatusNull" triggers="hover" container="body" placement="right" ></i>
            <template #popStatusGreen>Column formula is correct</template>
            <i *ngIf="col.getStatusColor() == 'green'" class="fa fa-check-circle dc-status-green-icon pull-right" [popover]="popStatusGreen" triggers="hover" container="body" placement="right" ></i>
            <template #popStatusYellow>Column depends on an incorrect column(s) or itself: {{col.getStatusDescription()}}</template>
            <i *ngIf="col.getStatusColor() == 'yellow'" class="fa fa-warning dc-status-yellow-icon pull-right" [popover]="popStatusYellow" triggers="hover" container="body" placement="right" ></i>
            <template #popStatusRed>Formula has an error: {{col.getStatusDescription()}}</template>
            <i *ngIf="col.getStatusColor() == 'red'" class="fa fa-exclamation-circle dc-status-red-icon pull-right" [popover]="popStatusRed" triggers="hover" container="body" placement="right" ></i>

            <b>{{col.getFormulaForColumnCard()}}&nbsp;</b>

          </h6>
        </div>
      </div>
    </a>
    <a
      class="list-inline-item"
      (click)="onColumnSelect(null)"
      >
      <div [class.dc-list-item-active]="selectedColumn && selectedColumn.id.length == 0" class="card dc-horizontal-list-item">
        <div title="Create new Column..." >
          <h6 class="card-text">&nbsp;</h6>
          <h6 class="card-subtitle text-muted">
            <i class="fa fa-plus"></i>            
          </h6>
          <h6 class="card-text">&nbsp;</h6>
        </div>
      </div>
    </a>
  </ul>
  </div>

  <!-- FORMULA BAR -->
  <!--
  <div class="card card-outline-info">
    <form *ngIf="selectedTable && selectedTable.id.length > 0" [class.invisible]="!(selectedColumn && selectedColumn.id.length > 0)" class="form-horizontal" (ngSubmit)="onColumnSubmit()" #formulaForm="ngForm">

      <div class="input-group input-group-lg">
        <template #popFormula>
        <span *ngIf="selectedColumn && selectedColumn.isPrimitve()" class="form-text small">
          A primitive formula is an arithmetic expression, for example, <code>([Column 1] + [Column 2]) * 2.0</code>.
          Column names in formulas are written in square brackets like <code>[My Column]</code>. 
          In the case of aggregation, its purpose is to initialize the column values and it can be a constant.
        </span>
        <span *ngIf="selectedColumn && !selectedColumn.isPrimitve()" class="form-text small">
          A non-primitive column is a semi-colon separated list of assignments enclosed in curly braces, for example, <code>{{'{'}} [Output Table A]=[This Table Column 1]; [Output Table B]=[This Table Column 2] {{'}'}}</code>.
          Column names in formulas are written in square brackets like <code>[My Column]</code>. 
          The tight hand side of the assignment can be an arithmetic expression, for example, <code>([Column 1] + [Column 2]) * 2.0</code>.
        </span>
        </template>
        <span id="formula-addon" class="input-group-addon">Formula <i class="fa fa-info-circle" [popover]="popFormula" triggers="hover" container="body" placement="right" ></i></span>
        <input id="formula" name="formula" ngControl="formula" type="text" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.formula" placeholder="Example: [Column 1] + [Column 2]">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-success" [disabled]="!formulaForm.form.valid"><i class="fa fa-check"></i></button>
        </span>
      </div>

      <div *ngIf="selectedColumn && selectedColumn.isPrimitve()" class="input-group">

        <template #popAccuFormula>An accumulate formula uses columns of the accumulation table and a special variable <code>out</code> with the current value which has to be updated, for example, <code>out + [Column 1]</code></template>
        <span id="accuformula-addon" class="input-group-addon">Accu Formula <i class="fa fa-info-circle" [popover]="popAccuFormula" triggers="hover" container="body" placement="right" ></i></span>
        <input id="accuformula" name="accuformula" ngControl="accuformula" type="text" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.accuformula" placeholder="Example: out + [Amount]">

        <template #popAccuTable>Accumulation formula is evaluated for each record of the accumulation table</template>
        <span id="accutable-addon" class="input-group-addon">Accu Table <i class="fa fa-info-circle" [popover]="popAccuTable" triggers="hover" container="body" placement="right" ></i></span>
        <select id="accutable" name="accutable" ngControl="accutable" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.accutable" >
          <option *ngFor="let tab of tables" [disabled]="!selectedTable || !tab || tab.isPrimitve()" [ngValue]="tab.name">{{tab.name}}</option>
        </select>

        <template #popAccuPath>Accumulation path is a column path from the accu table to the main (selected) table</template>
        <span id="accupath-addon" class="input-group-addon">Accu Path <i class="fa fa-info-circle" [popover]="popAccuPath" triggers="hover" container="body" placement="right" ></i></span>
        <input id="accupath" name="accupath" ngControl="accupath" type="text" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.accupath" placeholder="Example: [Column 1].[Column 2]">
        <span class="input-group-addon">Main Table '{{selectedTable.name}}'</span>
      </div>

    </form>
  </div>
  -->
</div>

<!-- COLUMN EDIT DIALOG -->
<div bsModal #columnModal="bs-modal" [config]="{backdrop: true}" class="modal fade" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div *ngIf="selectedColumn" class="modal-content">

      <form (ngSubmit)="onColumnSubmit(); columnModal.hide();" #columnForm="ngForm" class="form-horizontal">

      <div class="modal-header">
        <button type="button" class="close" (click)="columnModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Column</h4>
      </div>

      <div class="modal-body">

        <div class="form-group row">
          <label for="name" class="col-form-label col-4">
            Name <i class="fa fa-info-circle" popover="Unique name of the column" triggers="hover" container="body" placement="right" ></i>
          </label>
          <div class="col-8">
            <input id="name" name="name" ngControl="name" type="text" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.name" required placeholder="Column name" />
          </div>
        </div>

        <div class="form-group row">
          <label for="type" class="col-form-label col-4">
            Data type <i class="fa fa-info-circle" popover="Data type of the column" triggers="hover" container="body" placement="right" ></i>
          </label>
          <div class="col-8">
            <select id="type" name="type" ngControl="type" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.output && selectedColumn.output.id" required >
              <option *ngFor="let tab of tables" [disabled]="!selectedTable || !tab || (tab.id == selectedTable.id)" [ngValue]="tab.id">{{tab.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <template #popColumnKind>The way column values are obtained</template>
          <label for="columnkind" class="col-form-label col-4">
            Column Type <i class="fa fa-info-circle" [popover]="popColumnKind" triggers="hover" container="body" placement="right" ></i>
          </label>
          <div class="col-8">
            <select id="columnkind" name="columnkind" ngControl="columnkind" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.kind" required >
              <option value="{{columnKinds.USER}}">User: From external source</option>
              <option value="{{columnKinds.CALC}}" [disabled]="!selectedColumn || !isPrimitiveTable(selectedColumn.output.id)">Calculated: from this table</option>
              <option value="{{columnKinds.ACCU}}" [disabled]="!selectedColumn || !isPrimitiveTable(selectedColumn.output.id)">Accumulated: from another table</option>
              <option value="{{columnKinds.LINK}}" [disabled]="!selectedColumn || isPrimitiveTable(selectedColumn.output.id)">Link: to another table</option>
              <option value="{{columnKinds.CLASS}}" [disabled]="!selectedColumn">Custom: computed by a plugin</option>
            </select>
          </div>
        </div>

        <div *ngIf="selectedColumn && (selectedColumn.kind == columnKinds.CALC || selectedColumn.kind == columnKinds.ACCU || selectedColumn.kind == columnKinds.LINK)">
        <div class="form-group row">
          <template #popFormula>
            <span *ngIf="selectedColumn && selectedColumn.kind == columnKinds.CALC" class="form-text small">
              Calculated formula is an arithmetic expression, for example, <code>([Column 1] + [Column 2]) * 2.0</code>.
              Column names belong to the selected table and are written in square brackets like <code>[My Column]</code>.
              Formulas can use column paths as dot separated column names, for example, <code>[My Column 1].[My Column 2]</code>.
            </span>
            <span *ngIf="selectedColumn && selectedColumn.kind == columnKinds.ACCU" class="form-text small">
              This formula initializes all column values before aggregation. 
              It can be a constant or an arbitrary expression as used in calculated columns 
              by using column names of the selected table in sequare brackets, for example, <code>([Column 1] + [Column 2]) * 2.0</code>.
            </span>
            <span *ngIf="selectedColumn && selectedColumn.kind == columnKinds.LINK" class="form-text small">
              Link column is a semi-colon separated list of assignments enclosed in curly braces, for example, <code>{{'{'}} [Output Table A]=[This Table Column 1]; [Output Table B]=[This Table Column 2] {{'}'}}</code>.
              The tight hand side of the assignment is an arbitrary formula as used in calculated columns by using colums of the selected table, for example, <code>([Column 1] + [Column 2]) * 2.0</code>.
              The left hand side of an assignment is a column from the output table (type of this column).
            </span>
          </template>
          <label for="formula" class="col-form-label col-4">
            Formula <i class="fa fa-info-circle" [popover]="popFormula" triggers="hover" container="body" placement="right" ></i>
          </label>
          <div class="col-8">
            <input id="formula" name="formula" ngControl="formula" type="text" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.formula" placeholder="" >
          </div>
        </div>
        </div>

        <div *ngIf="selectedColumn && selectedColumn.kind == columnKinds.ACCU && isPrimitiveTable(selectedColumn.output.id)" >
        <div class="form-group row">
          <template #popAccuFormula>An accumulate formula uses columns of the accumulation table 
            and a special variable <code>out</code> which stores the current value to be updated by the formula, 
            for example, <code>out + [Column From Accu Table]</code></template>
          <label for="accuformula" class="col-form-label col-4">
            Accu Formula <i class="fa fa-info-circle" [popover]="popAccuFormula" triggers="hover" container="body" placement="right" ></i>
          </label>
          <div class="col-8">
            <input id="accuformula" name="accuformula" ngControl="accuformula" type="text" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.accuformula" placeholder="Example: out + [Amount]" >
          </div>
        </div>

        <div class="form-group row">
          <template #popAccuTable>Accumulation table provides records to be aggregated. 
            The accumulate formula will be evaluated for each record of this table. 
            Its columns are used in the accumulate formula.</template>
          <label for="accutable" class="col-form-label col-4">
            Accu Table <i class="fa fa-info-circle" [popover]="popAccuTable" triggers="hover" container="body" placement="right" ></i>
          </label>
          <div class="col-8">
            <select id="accutable" name="accutable" ngControl="accutable" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.accutable" >
              <option *ngFor="let tab of nonprimitiveTables()" [disabled]="!selectedTable || !tab" [ngValue]="tab.name">{{tab.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <template #popAccuPath>Accumulation path is a column path from the accumulate table to the main (selected) table.
            This path groups all elements of the accumulate table.</template>
          <label for="accupath" class="col-form-label col-4">
            Accu Path <i class="fa fa-info-circle" [popover]="popAccuPath" triggers="hover" container="body" placement="right" ></i>
          </label>
          <div class="col-8">
            <input id="accupath" name="accupath" ngControl="accupath" type="text" class="form-control" [(ngModel)]="selectedColumn && selectedColumn.accupath" placeholder="Example: [Column 1].[Column 2]" >
          </div>
        </div>
        </div>

        <div *ngIf="selectedColumn && selectedColumn.kind == columnKinds.CLASS">
        <div class="form-group row">
          <template #popDescriptor>This feature allows for uploading a custom plugin which will compute the values of this column using custom implementation.</template>
          <label for="descriptor" class="col-form-label col-4">
            Descriptor <i class="fa fa-info-circle" [popover]="popDescriptor" triggers="hover" container="body" placement="right" ></i>
          </label>
          <div class="col-8">
            <div class="alert alert-warning" role="alert">
              Feature not implemented.
            </div>
          </div>
        </div>
        </div>

      </div>

      <div class="modal-footer">
        <div class="text-xs-right">
          <button type="button" class="btn btn-default" (click)="columnModal.hide()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-primary" ><i class="fa fa-check"></i> Ok</button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>

<!-- COLUMN DELETE DIALOG -->
<div bsModal #columnDeleteModal="bs-modal" [config]="{backdrop: true}" class="modal fade" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content" *ngIf="selectedColumn">
      <form (ngSubmit)="onColumnDelete(); columnDeleteModal.hide();" #columnForm="ngForm">

      <div class="modal-header">
        <button type="button" class="close" (click)="columnDeleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete Column</h4>
      </div>

      <div class="modal-body">
        Delete the selected column: {{selectedColumn.name}}?
      </div>

      <div class="modal-footer">
        <div class="text-xs-right">
          <button type="button" class="btn btn-default" (click)="columnDeleteModal.hide()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-primary" ><i class="fa fa-check"></i> Delete</button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>



<!-- ---------- -->
<!-- DATA PANEL -->
<div class="card" style="overflow: auto; max-height: 4000px !important;">

  <table id="records" name="records"
    class="table table-sm table-fixed header-fixed table-bordered table-hover" >

    <thead class="thead-inverse">
      <tr>
          <th style="background-color: #eeeeee; color: black; border-width:0.1em; border-color:lightblue;"><h5>#</h5></th>
          <th *ngFor="let col of selectedTableColumns" style="background-color: #eeeeee; color: black; border-width:0.1em; border-color:lightblue;"><h6>{{col.name}}</h6></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of records">
        <td>#{{row['_id']}}</td>
        <td *ngFor="let col of selectedTableColumns" [style.background-color]="(selectedColumn && selectedColumn.id == col.id) ? '#eeeeee' : ''">


          <div *ngIf="col.kind != columnKinds.LINK">{{row[col.name]}}</div>
          <div *ngIf="col.kind == columnKinds.LINK">

            <template #popRecord>
              <table *ngIf="dataLoaded(col.output.table.id)" id="records" name="records" class="table table-sm" ><tbody>
                <tr *ngFor="let field of getRecordAsList(col.output.table.id, row[col.name])">
                  <td>{{field[0]}}</td>
                  <td>{{field[1]}}</td>
                </tr>
              </tbody></table>
              <div *ngIf="!dataLoaded(col.output.table.id)">
                DATA NOT LOADED
              </div>
            </template>

            #{{row[col.name]}} 
            <i class="fa  fa-angle-double-right" [popover]="popRecord" triggers="hover" container="body" placement="right"></i>
          </div>
        </td>
      </tr>
    </tbody>

  </table>

</div>



<!-- TIPS DIALOG -->
<div bsModal id="tipsModal" #tipsModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" (click)="tipsModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Getting Started: {{tipNumber+1}} / {{tipCount}}</h4>
      </div>

      <div class="modal-body">
        <div [innerHTML]="tipText[tipNumber]"></div>
      </div>

      <div class="modal-footer">
        <div>
          <button type="button" class="btn btn-primary" [disabled]="firstTip()" (click)="previousTip()"><i class="fa fa-arrow-left"></i> Previous</button>
          <button type="button" class="btn btn-primary" [disabled]="lastTip()" (click)="nextTip()"><i class="fa fa-arrow-right"></i> Next</button>
          <button type="button" class="btn btn-default" (click)="tipsModal.hide()"><i class="fa fa-close"></i> Close</button>
        </div>
      </div>

    </div>
  </div>
</div>
