<div class="jumbotron well well-lg">
  <h1><span class="label label-danger center-block">{{title}}</span></h1>
  <p class="text-center">Integrate. Transform. Analyze.</p>
</div>
<router-outlet></router-outlet>
<!--
    <h1>{{title}}</h1>
    <div class="row">
    <nav>
      <a type="button" class="btn btn-default btn-lg col-sm-2" [routerLink]="['/home']">Home</a>
      <a type="button" class="btn btn-default btn-lg col-sm-2" [routerLink]="['/schema']">Schema</a>
      <a type="button" class="btn btn-default btn-lg col-sm-2" [routerLink]="['/data']">Data</a>
    </nav>
    </div>
    <router-outlet></router-outlet>
-->
