<div class="card" style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">

<div class="card">
  <div class="card-header">
    <h6 class="card-title text-xs-center"><b>HOW IT WORKS</b></h6>
  </div>
  <div class="card-block">
    Stream simulator is intented for producing a stream of events which are sent from this client (running in the browser) to the Data Commandr server. 
    Each event is received by the server and appended to the corresponding tables. 
    If appropriately configured, the server will automatically process these events by evaluating formulas defined for this database.
    The result of processing incoming events is stored in new columns and new tables.
  </div>
</div>
